@model List<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>

<div class="card-body">
    <div class="table-responsive table-card mb-1">
        <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
            <thead class="text-muted table-light">
                <tr class="text-uppercase">
                    <th data-sort="Products">Products</th>
                    <th data-sort="Price">Price</th>
                    <th data-sort="Action">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                    <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="fs-15"><a href="/ProductMaster/GetProductDetailsById/?ProductId=@item.Id" class="fw-medium link-primary">@item.ProductName</a></h5>
                                    <p class="text-muted mb-0">Description: <span class="fw-medium"> @item.ProductShortDescription </span></p>
                                </div>
                            </div>
                        </td>
                        <td>@item.PerUnitPrice</td>
                        <td>
                            <a href="#showModal" onclick="EditProductDetails('@item.Id')" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
