@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Create Product</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Product Master</a></li>
                    <li class="breadcrumb-item active">Create Product</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<form id="createproductform" autocomplete="off">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab">
                                Product Details
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label text-muted" for="ProductName">Product Name</label>
                        <input type="text" class="form-control" id="txtproductname" name="txtproductname" placeholder="Enter product name" required>
                    </div>
                    <div>
                        <label class="form-label text-muted" for="ProductDescription">Product Description</label>
                        <textarea rows="10" class="form-control" id="txtproductdescription" name="txtproductdescription" placeholder="Enter product description" required style="height:100px"></textarea>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab">
                                Product Gallery
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <label class="form-label text-muted">Product Image</label>
                        <div class="text-center">
                            <div class="position-relative d-inline-block">
                                <div class="position-absolute top-0 end-0 translate-middle">
                                    <button type="button" class="btn btn-danger btn-x btn-sm" onclick="clearProductImage()">X</button>
                                </div>
                                <div class="avatar-lg">
                                    <div class="holder m-2">
                                        <img id="imgPreview" alt="Product image" style="height:200px;width:auto;margin-left:-500px;margin-bottom:-100px;" src="~/assets/images/no-preview.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="fs-14 mb-1" style="margin-top:120px;">Product Gallery</h5>
                        <p class="text-muted">Add Product Gallery Images.</p>
                        <label class="form-label text-muted" for="ProductImage"></label>
                        <div class="mb-3">
                            <input type="file" class="form-control" id="txtproductimage" name="txtproductimage" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- end card -->

            <div class="text-end mb-3">
                <button type="button" class="btn btn-success btn-lg" onclick="SaveProductDetails()" id="saveproductdetails" value="Validation" style="height:50px;width:160px;">Create</button>
            </div>
        </div>
        <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab">
                                Product Categories
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <p class="text-muted mb-2">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#flipModal" class="float-end text-decoration-underline btn btn-link waves-effect">
                            Add New-Type
                        </button>
                    </p>
                    <label for="ProductType" class="form-label text-muted">Product Type</label>
                    <select id="txtProducts" class="form-control bg-transparent" onchange="selectProductTypeId()">
                        <option selected disabled value="">----Select Product Type---</option>
                    </select>
                    <input type="hidden" class="form-control" id="txtProductTypeid">
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab">
                                Product Short Description
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <label class="form-label text-muted">Add short description for product</label>
                    <textarea class="form-control" id="txtshortdescription" name="txtshortdescription" placeholder="Must enter maximum of a 50 characters" rows="3"></textarea>
                </div>
                <!-- end card body -->
            </div>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab">
                                General Info
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end card header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="addproduct-general-info" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted" for="PerUnitPrice">Price</label>
                                        <input type="text" class="form-control" id="txtPerUnitPrice" name="txtPerUnitPrice" placeholder="Enter PerUnitPrice">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted">WithGST</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox" style="margin-left: 5px;font-size: 22px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted">GST%</label>
                                        <input type="text" class="form-control form-control" placeholder="Gst %" id="txtGstPerUnit" name="txtGstPerUnit">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted">GST Amount</label>
                                        <input type="text" class="form-control form-control" placeholder="Gst Amount" id="txtGstAmount" name="txtGstAmount" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted" for="HSN">HSN</label>
                                        <input type="text" class="form-control" id="txtHSN" name="txtHSN" placeholder="Enter HSN">
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end tab-pane -->
                        <!-- end tab pane -->
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</form>
<form id="addproduct">
    <div id="flipModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="flipModalLabel">Add Product Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="hstack gap-3 align-items-start">
                        <div class="flex-grow-1">
                            <label>Product Type</label>
                            <input class="form-control" id="txtProductType" name="txtProductType" placeholder="Enter Product Type" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " onclick="AddProductType()" id="AddProductTypeButton" value="Validate">Save</button>
                </div>

            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/productmasterscript.js" asp-append-version="true"></script>



