@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Create Product</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Product Master</a></li>
                    <li class="breadcrumb-item active">Create Product</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<form id="createproductform" autocomplete="off">
    <div class="auth-page-wrapper auth-bg-cover py-3 d-flex justify-content-center align-items-center min-vh-50">
        <div class="card">
            <div class="row">
                <div class="col-lg-8" style="height: 179px;width: 585px;">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" role="tab">Product Details</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label text-muted" for="ProductName">Product Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtproductname" name="txtproductname" placeholder="Enter product name" required>
                            </div>
                            <div>
                                <label class="form-label text-muted" for="ProductDescription">Product Description <span class="text-danger">*</span></label>
                                <textarea rows="10" class="form-control" id="txtproductdescription" name="txtproductdescription" placeholder="Enter product description" required style="height:100px"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Product Gallery -->
                    <div class="card mt-2">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" role="tab">Product Gallery</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label class="form-label text-muted">Product Image</label>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <input type="file" class="form-control" id="txtproductimage" name="txtproductimage" />
                                        </div>
                                        <div class="col-lg-6 d-flex flex-column justify-content-center">
                                            <div id="ProductImageContainer" style="display: none;">
                                                <div style="position: relative; display: inline-block;">
                                                    <img src="#" id="productImagePreview" style="height: 160px; width: 160px; border: 2px solid grey;margin-left: 163px;margin-top: -40px;" />
                                                    <button type="button" id="deleteProductImageButton" style="position: absolute; top: -40px;right: 2px; background-color: transparent; border: none; font-size: 24px; cursor: pointer; color: red;">
                                                        &times;
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Create button -->
                    <div class="text-end mt-3">
                        <button type="button" class="btn btn-success btn-lg" onclick="SaveProductDetails()" id="saveproductdetails" value="Validation" style="height:50px;width:160px;">Create</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" role="tab">Product Categories</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p class="text-muted mb-2">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#flipModal" class="float-end text-decoration-underline btn btn-link waves-effect">Add New-Type</button>
                            </p>
                            <label class="form-label">Product Type</label>
                            <input type="text" id="txtProducts" name="txtProducts" class="form-control" placeholder="Product Type">
                            <input type="hidden" id="txtProductTypeidHidden" name="txtProductTypeidHidden">
                        </div>
                    </div>
                    <!-- Product Short Description -->
                    <div class="card mt-3">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" role="tab">Product Short Description</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <label class="form-label text-muted">Add short description for product</label>
                            <textarea class="form-control" id="txtshortdescription" name="txtshortdescription" placeholder="Must enter maximum of a 50 characters" rows="3"></textarea>
                        </div>
                    </div>
                    <!-- General Info -->
                    <div class="card mt-3">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" role="tab">General Info</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted" for="PerUnitPrice">Price <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtPerUnitPrice" name="txtPerUnitPrice" placeholder="Enter PerUnitPrice">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted">WithGST</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox" style="margin-left: 5px;font-size: 22px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted">GST% <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control" placeholder="Gst %" id="txtGstPerUnit" name="txtGstPerUnit">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted">GST Amount</label>
                                        <input type="text" class="form-control form-control" placeholder="Gst Amount" id="txtGstAmount" name="txtGstAmount" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label text-muted" for="HSN">HSN</label>
                                        <input type="text" class="form-control" id="txtHSN" name="txtHSN" placeholder="Enter HSN">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="addproduct">
    <div id="flipModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="flipModalLabel">Add Product Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="hstack gap-3 align-items-start">
                        <div class="flex-grow-1">
                            <label>Product Type <span class="text-danger">*</span></label>
                            <input class="form-control" id="txtProductType" name="txtProductType" placeholder="Enter Product Type" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " onclick="AddProductType()" id="AddProductTypeButton" value="Validate">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/productmasterscript.js" asp-append-version="true"></script>



