@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<style>
    #txtproductname-error, #txtproductdescription-error, #txtshortdescription-error,
    #txtproductimage-error, #txtstocks-error, #txtPerUnitPrice-error,
    #txtHSN-error, #txtGST-error, #txtPerUnitWithGSTPrice-error, #txtProductType-error,
    #txtvendorname-error, #txtProducts-error{
        color: red;
    }
</style>


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Create Product</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                            <li class="breadcrumb-item active">Create Product</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <form id="createproductform" autocomplete="off">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="ProductName">Product Name</label>
                                <input type="text" class="form-control" id="txtproductname" name="txtproductname" placeholder="Enter product name" required>
                            </div>
                            <div>
                                <label class="form-label" for="ProductDescription">Product Description</label>
                                <textarea rows="10" class="form-control" id="txtproductdescription" name="txtproductdescription" placeholder="Enter product description" required></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Product Gallery</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <h5 class="fs-14 mb-1">Product Image</h5>
                                <p class="text-muted">Add Product main Image.</p>
                                <div class="text-center">
                                    <div class="position-relative d-inline-block">
                                        <div class="position-absolute top-100 start-100 translate-middle">
                                        </div>
                                        <div class="avatar-lg">
                                            <div class="holder m-2">
                                                <img id="imgPreview" alt="Product image" style="height:120px;width:auto;margin-left:-700px;margin-bottom:-110px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="fs-14 mb-1" style="margin-top:120px;">Product Gallery</h5>
                                <p class="text-muted">Add Product Gallery Images.</p>
                                <label class="form-label" for="ProductImage"></label>
                                <div class="mb-3">
                                    <input type="file" class="form-control" id="txtproductimage" name="txtproductimage" required />
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="margin-top:-60px;margin-left:970px;" viewBox="0 0 24 24"><path fill="currentColor" d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519a8.001 8.001 0 0 1 15.872 0a6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5m15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503l-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942l-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35zM13 13v4h-2v-4H8l4-5l4 5z" /></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#addproduct-general-info" role="tab">
                                        General Info
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!-- end card header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="addproduct-general-info" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="PerUnitPrice">Per Unit Price</label>
                                                <input type="text" class="form-control" id="txtPerUnitPrice" name="txtPerUnitPrice" placeholder="Enter PerUnitPrice" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="GST">GST</label>
                                                <input type="text" class="form-control" id="txtGST" name="txtGST" placeholder="Enter GST" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="PerUnitWithGSTPrice">Per Unit With GST Price</label>
                                                <input type="text" class="form-control" id="txtPerUnitWithGSTPrice" name="txtPerUnitWithGSTPrice" placeholder="Enter price" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->

                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="HSN">HSN</label>
                                                <input type="text" class="form-control" id="txtHSN" name="txtHSN" placeholder="Enter HSN" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="stocks">Stocks</label>
                                                <input type="text" class="form-control" id="txtstocks" name="txtstocks" placeholder="Stocks" required>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                                <!-- end tab-pane -->
                                <!-- end tab pane -->
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                    <div class="text-end mb-3">
                        <button type="button" class="btn btn-primary w-sm" onclick="SaveProductDetails()" id="saveproductdetails" value="Validation">Submit</button>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-lg-4">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Product Categories</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-muted mb-2">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#flipModal" class="float-end text-decoration-underline btn btn-link waves-effect">
                                    Add New
                                </button>
                            </p>
                            <label for="ProductType" class="form-label">Product Type</label>
                            <select id="txtProducts" class="form-control bg-transparent" name="txtProducts" required>
                                <option selected disabled value="">----Select Product Type---</option>
                            </select>
                        </div>
                        <!-- end card body -->
                    </div>
                    <div id="flipModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="flipModalLabel">Add Product</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="hstack gap-3 align-items-start">
                                        <div class="flex-grow-1">
                                            <label>Vendor Name</label>
                                            <select class="form-control" id="txtvendorname" name="txtvendorname">
                                                <option selected disabled value="">----Select Vendor Name---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hstack gap-3 align-items-start">
                                        <div class="flex-grow-1">
                                            <label>Product Name</label>
                                                <input class="form-control" id="txtProductType" name="txtProductType" placeholder="Enter ProductName" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary " onclick="AddProductType()" id="AddProductTypeButton" value="Validate">Save</button>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!-- end card -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Add Vendor</h5>
                        </div>
                        <div class="card-body">
                            <div class="hstack gap-3 align-items-start">
                                <div class="flex-grow-1">
                                    <label for="VendorId" class="form-label">Vendor Name</label>
                                    <select class="form-control" id="txtvendorname" name="txtvendorname" required>
                                        <option selected disabled value="">----Select Vendor Name---</option>
                                    </select>
                                    <input type="hidden" class="form-control" id="txtvendornameid">
                                </div>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Product Short Description</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-muted mb-2">Add short description for product</p>
                            <textarea class="form-control" id="txtshortdescription" name="txtshortdescription" placeholder="Must enter minimum of a 100 characters" rows="3" required></textarea>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </form>

    </div>
    <!-- container-fluid -->
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/moduls/productmasterscript.js"></script>

<script src="~/UserHome/minimal/assets/libs/%40ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

<!-- dropzone js -->
<script src="~/UserHome/minimal/assets/libs/dropzone/dropzone-min.js"></script>

@* <script src="~/UserHome/minimal/assets/js/pages/ecommerce-product-create.init.js"></script> *@
<script src="~/UserHome/minimal/assets/libs/prismjs/prism.js"></script>

<!-- Lord Icon -->
<script src="~/UserHome/minimal/cdn.lordicon.com/mssddfmo.js"></script>

<!-- Modal Js -->
<script src="~/UserHome/minimal/assets/js/pages/modal.init.js"></script>


