@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    span.deleteicon {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

        span.deleteicon span {
            position: absolute;
            display: block;
            right: 3px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            color: red;
            background-color: #ccc;
            font: 13px monospace;
            text-align: center;
            line-height: 1em;
            cursor: pointer;
        }

        span.deleteicon input {
            padding-right: 18px;
            box-sizing: border-box;
        }
</style>

<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Products</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Product Master</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<!-- /.modal -->
<!-- end card -->

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-8">

                <div>
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm">
                                    <h5 class="card-title mb-0">Product List</h5>
                                </div>
                                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Create Product" && (a.Add == true)))
                                {
                                    <div class="col-sm-auto">
                                        <div class="d-flex gap-1 flex-wrap">
                                            <a asp-action="CreateProduct" asp-controller="ProductMaster" class="btn btn-info">
                                                <i class="ri-add-line align-bottom me-1 "></i>Product
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">


                            <div class="card-header border-0 rounded">
                                <div class="row g-2">
                                    <div class="col-xl-3">
                                        <div class="deleteicon search-box">
                                            <span class="deleteicon">
                                                <input type="text" class="form-control" autocomplete="off" id="txtsearch" placeholder="Search for Products..." style="width:368px;"><i class="ri-search-line search-icon"></i>

                                                <span onclick="clearSearchInput()" style="margin-top:0px;margin-left:-24px;position:relative;cursor:pointer;">x</span>
                                            </span>

                                            <input type="hidden" class="form-control" id="txtProductListId">
                                        </div>
                                    </div>
                                    <div class="col-lg-auto">
                                        <div class="hstack gap-2">
                                            <button class="btn btn-success" type="button" onclick="SearchProductName()" id="searchproductname" value="Validate" style="margin-right:130px;">Search</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" id="ddlSortBy" onchange="sortProductTable()" style="margin-left:23px; width:-10px;">
                                            <option value="" selected disabled>--Select SortBy--</option>
                                            <option value="AscendingProductName">ProductName(a-z)</option>
                                            <option value="DescendingProductName">ProductName(z-a)</option>
                                            <option value="AscendingPerUnitPrice">PerUnitPrice-Asc </option>
                                            <option value="DescendingPerUnitPrice">PerUnitPrice-Des</option>
                                        </select>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-3 ms-auto">
                                        <div>
                                            <select class="form-control form-select" id="txtProductList" onchange="selectProductId()">
                                                <option value="" selected disabled>All Products</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-auto">
                                        <div class="hstack gap-2">
                                            <button type="button" class="btn btn-info"><i class="ri-equalizer-fill me-1 align-bottom"></i>Type Filters</button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                        </div>

                        <!-- end card header -->
                        <div class="card-body">

                            <div class="tab-content text-muted">
                                <!--Partial View-->
                                <div id="dvproductdetails"></div>
                                <div class="tab-pane" id="productnav-all" role="tabpanel">
                                    <div id="table-product-list-all" class="table-card gridjs-border-none"></div>
                                </div>
                                <!-- end tab pane -->
                                <!--- Partial View --->
                                <div id="getallproductlist">
                                </div>
                                <div class="tab-pane" id="productnav-published" role="tabpanel">
                                    <div id="table-product-list-published" class="table-card gridjs-border-none"></div>
                                </div>
                                <!-- end tab pane -->

                                <div class="tab-pane" id="productnav-draft" role="tabpanel">
                                    <div class="py-4 text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px">
                                        </lord-icon>
                                        <h5 class="mt-4">Sorry! No Result Found</h5>
                                    </div>
                                </div>
                                <!-- end tab pane -->
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="modal fade zoomIn" id="UpdateProductDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-primary-subtle">
                        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <form class="tablelist-form" autocomplete="off" id="UpdateDetailsForm">
                        <div class="modal-body">
                            <input type="hidden" id="tasksId" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="projectName-field" class="form-label">Product Name</label>
                                    <input type="text" id="txtProductName" name="txtProductName" class="form-control" placeholder="Enter ProductName" />
                                    <input type="hidden" id="txtProductId" hidden />
                                    <input type="hidden" id="txtUpdatedby" value="@_userSession.UserId" hidden />
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div>
                                        <label for="TaskTitle" class="form-label">Product Description</label>
                                        <input type="text" id="txtProductDescription" name="txtProductDescription" class="form-control" placeholder="Enter ProductDescription" />
                                        <input type="hidden" id="txtproductImage" class="form-control" placeholder="Enter product Image" />
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="TaskDate" class="form-label">Price</label>
                                    <input type="text" id="txtPerUnitPrice" name="txtPerUnitPrice" class="form-control" placeholder="Enter PerUnit Price" />
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label class="form-label">IsWithGST</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox" style="margin-left: 5px;font-size: 22px;">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label class="form-label">GST%</label>
                                    <input type="text" class="form-control form-control" placeholder="Gst %" id="txtGstPerUnit" name="txtGstPerUnit">
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label class="form-label">GST Amount</label>
                                    <input type="text" class="form-control form-control" placeholder="Gst Amount" id="txtGstAmount" name="txtGstAmount" disabled>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label class="form-label" for="HSN">HSN</label>
                                    <input type="text" class="form-control" id="txtHSN" name="txtHSN" placeholder="Enter HSN">
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="ProductType" class="form-label">Product Type</label>
                                    <select id="txtProducts" class="form-control bg-transparent" name="txtProducts" required>
                                        <option selected disabled value="">----Select Product Type---</option>
                                    </select>
                                    <input type="hidden" class="form-control" id="txtProductType">
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="ProductType" class="form-label">Product Short Description</label>
                                    <textarea class="form-control" id="txtshortdescription" name="txtshortdescription" placeholder="Must enter minimum of a 100 characters" rows="3" required></textarea>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="UpdateProductDetails()" id="UpdateDetailsBtn">Update Product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- container-fluid -->
</div>

<!-- End Page-content -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/productmasterscript.js" asp-append-version="true"></script>







