@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}
<link rel="stylesheet" href="~/assets/libs/nouislider/nouislider.min.css">

<!-- gridjs css -->
<link rel="stylesheet" href="~/assets/libs/gridjs/theme/mermaid.min.css">

<style>
    #txtProductType-error,
    #txtProductName-error, #txtProductDescription-error, #txtshortdescription-error,
    #txtproductImage-error, #txtstocks-error, #txtPerUnitPrice-error,
    #txtHSN-error, #txtGST-error, #txtPerUnitWithGSTPrice-error, #txtProductType-error,
    #txtProducts-error, #txtsearch-error {
        color: red;
    }
</style>

<!-- start page title -->
<div class="row" style="margin-top:20px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Products</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<!-- /.modal -->
<!-- end card -->

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="fs-16">Filters</h5>
                            </div>
                            <div class="flex-shrink-0">
                                <a href="/ProductMaster/ProductList" class="link-secondary text-decoration-underline" id="clearall">Clear All</a>
                            </div>
                        </div>

                        <div class="filter-choices-input">
                            <select class="form-control" id="txtProductList" onchange="selectProductId()">
                                <option selected disabled value="">---Select Products---</option>
                            </select>
                            <input type="hidden" class="form-control" id="txtProductListId">
                        </div>
                    </div>

                    <div class="accordion accordion-flush filter-accordion">
                        <div class="card-body border-bottom">
                            <p class="text-muted text-uppercase fs-12 fw-medium mb-4">Price</p>

                            <div id="product-price-range" data-slider-color="primary"></div>
                            <div class="formCost d-flex gap-2 align-items-center mt-3">
                                <input class="form-control form-control-sm" type="text" id="minCost" value="0" /> <span class="fw-semibold text-muted">to</span> <input class="form-control form-control-sm" type="text" id="maxCost" value="1000" />
                            </div>
                        </div>


                        <!-- end accordion-item -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->

            <div class="col-xl-9 col-lg-8">

                <div>
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm">
                                    <h5 class="card-title mb-0">Search Products</h5>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="d-flex gap-1 flex-wrap">
                                        <a asp-action="CreateProduct" asp-controller="ProductMaster" class="btn btn-primary">
                                            <i class="ri-add-line align-bottom me-1 "></i>
                                            Add Product
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form id="productsearchvalidateform">
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-6">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search here...." id="txtsearch" name="txtsearch" class="form-control" />
                                            <button class="btn btn-success" type="button" onclick="SearchProductName()" id="searchproductname" value="Validate">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active fw-semibold" data-bs-toggle="tab" href="#productnav-all" role="tab">
                                                All <span class="badge bg-secondary align-middle rounded-pill ms-1"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <div id="selection-element">
                                        <div class="my-n1 d-flex align-items-center text-muted">
                                            Select <div id="select-content" class="text-body fw-semibold px-1"></div> Result <button type="button" class="btn btn-link link-danger p-0 ms-3" data-bs-toggle="modal" data-bs-target="#removeItemModal">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card header -->
                        <div class="card-body">

                            <div class="tab-content text-muted">
                                <!--Partial View-->
                                <div id="dvproductdetails"></div>
                                <div class="tab-pane" id="productnav-all" role="tabpanel">
                                    <div id="table-product-list-all" class="table-card gridjs-border-none"></div>
                                </div>
                                <!-- end tab pane -->
                                <!--- Partial View --->
                                <div id="getallproductlist">
                                </div>
                                <div class="tab-pane" id="productnav-published" role="tabpanel">
                                    <div id="table-product-list-published" class="table-card gridjs-border-none"></div>
                                </div>
                                <!-- end tab pane -->

                                <div class="tab-pane" id="productnav-draft" role="tabpanel">
                                    <div class="py-4 text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px">
                                        </lord-icon>
                                        <h5 class="mt-4">Sorry! No Result Found</h5>
                                    </div>
                                </div>
                                <!-- end tab pane -->
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="modal fade zoomIn" id="UpdateProductDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-primary-subtle">
                        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <form class="tablelist-form" autocomplete="off" id="UpdateDetailsForm">
                        <div class="modal-body">
                            <input type="hidden" id="tasksId" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="projectName-field" class="form-label">Product Name</label>
                                    <input type="text" id="txtProductName" name="txtProductName" class="form-control" placeholder="Enter ProductName" />
                                    <input type="hidden" id="txtProductId" hidden />
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div>
                                        <label for="TaskTitle" class="form-label">Product Description</label>
                                        <input type="text" id="txtProductDescription" name="txtProductDescription" class="form-control" placeholder="Enter ProductDescription" />
                                        <input type="hidden" id="txtproductImage" class="form-control" placeholder="Enter product Image" />
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="TaskDate" class="form-label">Per Unit Price</label>
                                    <input type="text" id="txtPerUnitPrice" name="txtPerUnitPrice" class="form-control" placeholder="Enter PerUnit Price" />
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="TaskEndDate" class="form-label">GST</label>
                                    <input type="text" id="txtGST" class="form-control" data-provider="flatpickr" placeholder="Enter GST" />
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="TaskStatus" class="form-label">Per Unit With GST Price</label>
                                    <input type="text" class="form-control" id="txtPerUnitWithGSTPrice" name="txtPerUnitWithGSTPrice" placeholder="Enter PerUnit GST Price" required>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label class="form-label" for="HSN">HSN</label>
                                    <input type="text" class="form-control" id="txtHSN" name="txtHSN" placeholder="Enter HSN" required>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label class="form-label" for="stocks">Stocks</label>
                                    <input type="text" class="form-control" id="txtstocks" name="txtstocks" placeholder="Enter Stocks" required>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="ProductType" class="form-label">Product Type</label>
                                    <select id="txtProducts" class="form-control bg-transparent" name="txtProducts" required>
                                        <option selected disabled value="">----Select Product Type---</option>
                                    </select>
                                    <input type="hidden" class="form-control" id="txtProductType">
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="ProductType" class="form-label">Product Short Description</label>
                                    <textarea class="form-control" id="txtshortdescription" name="txtshortdescription" placeholder="Must enter minimum of a 100 characters" rows="3" required></textarea>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <label for="VendorId" class="form-label">Vendor Name</label>
                                    <select class="form-control" id="txtvendornamed" name="txtvendornamed" required>
                                        <option selected disabled value="">----Select Vendor Name---</option>
                                    </select>
                                    <input type="hidden" class="form-control" id="txtvendornameid">
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="UpdateProductDetails()" id="UpdateDetailsBtn">Update Product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- container-fluid -->
</div>

<!-- End Page-content -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/moduls/productmasterscript.js"></script>


<!-- nouisliderribute js -->
<script src="~/assets/libs/nouislider/nouislider.min.js"></script>
<script src="~/assets/libs/wnumb/wNumb.min.js"></script>

<!-- gridjs js -->
<script src="~/assets/libs/gridjs/gridjs.umd.js"></script>
<script src="~/UserHome/minimal/unpkg.com/gridjs%406.0.6/plugins/selection/dist/selection.umd.js"></script>
<!-- ecommerce product list -->
<script src="~/assets/js/pages/ecommerce-product-list.init.js"></script>


