@model IEnumerable<EMPManegment.EntityModels.ViewModels.Models.UserAttendanceModel>
@inject EMPManegment.Web.Helper.Common CommonHelper
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession;

<div class="tab-pane" role="tabpanel" style="margin-top:30px;">
    <div class="table-responsive">
        <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" id="FilterAttendanceTable">
            <thead class="btn-info text-center">
                <tr class="text-uppercase">
                    <th>UserName</th>
                    <th>Date</th>
                    <th>InTime</th>
                    <th>OutTime</th>
                    <th>TotalHours</th>
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Users Attendance" && (a.Edit == true)))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody class="text-center"> </tbody>
        </table>
        <div class="noresult" style="display: none">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                </lord-icon>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted">
                    We've searched more than 150+. We did
                    not find anything for you search.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="editTimeModelsearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Edit User Attendance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="customername-field" class="form-label" hidden>AttandanceId</label>
                    <input id="srcAttandanceId" class="form-control" hidden />
                    <input id="UserId" class="form-control" hidden />
                </div>

                <div class="mb-3">
                    <label for="customername-field" class="form-label">UserName</label>
                    <input id="srcUserName" class="form-control" disabled />
                </div>

                <div class="mb-3">
                    <label for="email-field" class="form-label">Date</label>
                    <input id="srcDate" class="form-control" disabled />
                </div>

                <div class="mb-3">
                    <label for="phone-field" class="form-label">Intime</label>
                    <input type="datetime-local" id="srcIntime" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="date-field" class="form-label">OutTime</label>
                    <input type="datetime-local" id="srcOutTime" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" onclick="UpdateUserAttendanceSrc()" id="SubmitButton">Update Time</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editMyAttendanceTime" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Edit My Attendance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="customername-field" class="form-label" hidden>AttandanceId</label>
                    <input id="txtmyAttandanceId" class="form-control" hidden />
                    <input id="UserId" class="form-control" hidden />
                </div>

                <div class="mb-3">
                    <label for="customername-field" class="form-label">UserName</label>
                    <input id="txtmyUserName" class="form-control" disabled />
                </div>

                <div class="mb-3">
                    <label for="email-field" class="form-label">Date</label>
                    <input id="txtmyDate" class="form-control" disabled />
                </div>

                <div class="mb-3">
                    <label for="phone-field" class="form-label">Intime</label>
                    <input type="datetime-local" id="txtmyIntime" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="date-field" class="form-label">OutTime</label>
                    <input type="datetime-local" id="txtmyOutTime" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" onclick="updateMyAttendance()" id="SubmitButton">Update Time</button>
                </div>
            </div>
        </div>
    </div>
</div>