@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@model EMPManegment.EntityModels.View_Model.LoginDetailsView
@{
    ViewData["Title"] = "RolewisePermission";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">User List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- auth page content -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Create User</h5>
            </div>
            <div class="card-body d-flex justify-content-center">
                <form id="CreateUserForm" method="post" enctype="multipart/form-data" style="width:750px">
                    <div class="fv-row mb-4">
                        <label for="drpCuDepartment">Department <span class="text-danger">*</span></label>
                        <select id="drpCuDepartment" class="form-control form-select" name="drpCuDepartment">
                            <option selected value="">--Select Department--</option>
                        </select>
                    </div>
                    <div class="fv-row mb-4">
                        <label for="EmpId">Employee ID</label>
                        <input type="text" readonly id="EmpId" autocomplete="off" class="form-control" value="@ViewBag.EmpId" />
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="fv-row mb-4">
                                <label for="txtCuFirstname">First Name <span class="text-danger">*</span></label>
                                <input type="text" placeholder="First Name" name="txtCuFirstname" class="form-control" id="txtCuFirstname" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fv-row mb-4">
                                <label for="txtCuLastname">Last Name <span class="text-danger">*</span></label>
                                <input type="text" placeholder="Last Name" name="txtCuLastname" class="form-control" id="txtCuLastname" />
                            </div>
                        </div>
                    </div>
                    <div class="fv-row mb-6" data-kt-password-meter="true">
                        <div class="mb-1">
                            <div class="position-relative mb-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="fv-row mb-4">
                                            <label for="txtCuDOB">Date of Birth <span class="text-danger">*</span></label>
                                            <input type="date" placeholder="DOB" id="txtCuDOB" name="txtCuDOB" max="@DateTime.Now.ToString("yyyy-MM-dd")" autocomplete="off" class="form-control bg-transparent" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="fv-row mb-4">
                                            <label for="drpCuGender">Gender <span class="text-danger">*</span></label>
                                            <select id="drpCuGender" class="form-control form-select" name="drpCuGender">
                                                <option value="">--Select Gender--</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="fv-row mb-4">
                                    <label for="txtCuEmail">Email <span class="text-danger">*</span></label>
                                    <input type="email" placeholder="Email" id="txtCuEmail" name="txtCuEmail" autocomplete="off" class="form-control bg-transparent" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="fv-row mb-4">
                                <label for="drpCuCountry">Country <span class="text-danger">*</span></label>
                                <select id="drpCuCountry" name="drpCuCountry" class="form-control form-select bg-transparent valid" onchange="fn_getUserState('drpCuState',null,this)">
                                    <option selected value="">--Select Country--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fv-row mb-4">
                                <label for="drpCuState">State <span class="text-danger">*</span></label>
                                <select id="drpCuState" name="drpCuState" class="form-control form-select bg-transparent valid" onchange="fn_getUsercitiesbystateId('drpCuCity', null, this)">
                                    <option selected value="">--Select State--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="fv-row mb-4">
                                    <label for="drpCuCity">City <span class="text-danger">*</span></label>
                                    <select id="drpCuCity" name="drpCuCity" class="form-control form-select bg-transparent valid">
                                        <option selected value="">--Select City--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fv-row mb-4">
                                    <label for="textCuPhoneNumber">Mobile Number <span class="text-danger">*</span></label>
                                    <input type="number" placeholder="Mobile.NO" id="textCuPhoneNumber" name="textCuPhoneNumber" autocomplete="off" class="form-control bg-transparent" />
                                </div>
                            </div>
                            <div class="fv-row mb-6">
                                <label for="textCuAddress">Address <span class="text-danger">*</span></label>
                                <textarea type="text" class="form-control bg-transparent" rows="3" placeholder="Address" id="textCuAddress" name="textCuAddress"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" for="passwordinput">Password <span class="text-danger">*</span></label>
                            <div class="position-relative auth-pass-inputgroup">
                                <input type="password" class="form-control pe-5 password-input" onpaste="return false" placeholder="Enter password" id="passwordinput" name="passwordinput" aria-describedby="passwordInput" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="confirmpasswordinput">Confirm Password <span class="text-danger">*</span></label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                <input type="password" class="form-control pe-5 password-input" onpaste="return false" placeholder="Confirm password" id="confirmpasswordinput" name="confirmpasswordinput" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="confirm-password-input"><i class="ri-eye-fill align-middle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="fv-row mb-2">
                        <label class="fs-6 fw-semibold form-label mt-1" for="filecuImage">Upload Image</label>
                        <input type="file" asp-for="Image" autocomplete="off" class="form-control bg-transparent" id="filecuImage" />
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success btn-lg" type="button" style="width: 160px;height: 50px;" onclick="CreateUser()">
                            Submit
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var forms = Array.from(document.querySelectorAll("form .auth-pass-inputgroup"));
    forms.forEach(function (s) {
        var addons = Array.from(s.querySelectorAll(".password-addon"));
        addons.forEach(function (t) {

            t.addEventListener("click", function (t) {
                var e = s.querySelector(".password-input");
                if (e.type === "password") {
                    e.type = "text";
                } else {
                    e.type = "password";
                }
            });
        });
    });

    var password = document.getElementById("passwordinput");
    var confirm_password = document.getElementById("confirmpasswordinput");

    function validatePassword() {
        if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }

    confirm_password.onkeyup = validatePassword;

    document.addEventListener("DOMContentLoaded", function () {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("txtCuDOB").value = today;
    });
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userdetailsscript.js" asp-append-version="true"></script>