@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "DisplayUserList";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}



<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">User List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">All User List</h5>
                    <div class="flex-shrink-0">
                        <form class="position-relative">
                            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Create User" && (a.Add == true)))
                            {
                                <div class="d-flex flex-wrap gap-2">
                                    <a href="/UserProfile/UserSingUp" class="btn btn-block btn-warning btn-md"><i class="ri-add-line align-bottom me-1"></i>Create User</a>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="col-sm-12">
                        <table id="UserTableData" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" aria-describedby="example_info">
                            <thead>
                                <tr>
                                    <th data-ordering="false" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 43.4px;">UserID</th>
                                    <th data-ordering="false" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 39.4px;">Department</th>
                                    <th data-ordering="false" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 317.4px;">User Name</th>
                                    <th data-ordering="false" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 312.4px;">IsActive</th>
                                    <th data-ordering="false" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 312.4px;">Gender</th>
                                    <th data-ordering="false" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 87.4px;">BirthDate</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 98.4px;">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 91.4px;">Mobile.NO</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 64.4px;">City</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 56.4px;">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade empmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="text-info modal-title" id="myLargeModalLabel">User Edit</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="fv-row mb-8">
                                        <div class="row">
                                            <div class="fv-row mb-6">
                                                <label class="from-label">Department</label>
                                                <select id="ddlDepartmenrnt" class="form-control bg-transparent">
                                                    <option>--Select Department--</option>
                                                </select>
                                                <input type="hidden" id="deptid" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fv-row mb-6">
                                        <input type="hidden" readonly id="Userid" class="form-control bg-transparent" />
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">First Name</label>
                                                <input type="text" class="form-control" id="FirstName">
                                                <span id="txtFirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" class="form-control" id="LastName">
                                                <span id="txtLastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="fv-row mb-3">
                                                <label class="form-label">DateOfBirth</label>
                                                <input type="datetime-local" class="form-control" id="Dob">
                                                <span id="txtDob" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="fv-row mb-3">
                                                <label class="from-label">Gender</label>
                                                <select id="Gender" class="form-control bg-transparent">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <input type="hidden" id="Gender" value="" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" id="Email">
                                                <span id="txtEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">PhoneNumber</label>
                                                <input type="number" class="form-control" id="PhoneNo">
                                                <span id="txtphno" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fv-row mb-6">
                                        <label class="form-label">Address</label>
                                        <input type="text" class="form-control" id="Address" style="height: 75px;">
                                        <span id="txtAddress" class="text-danger"></span>
                                    </div>

                                    <div class="modal-footer m-3">
                                        <button type="button" class="btn btn-danger btn-default m-1" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success m-1" onclick="UpdateUserDetails()" id="btnUpdate">Update</button>
                                    </div>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
</div>





<!-- end table responsive -->

<script src="~/moduls/taskscript.js"></script>
<script src="~/moduls/userattendancescript.js"></script>
<!-- end table responsive -->


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/MasterListScript.js"></script>
<script src="~/moduls/userdetailsScript.js"></script>
