@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "RolewisePermission";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    #textRoleName-error {
        color: red;
    }

    .dropdown-item-custom {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

        .dropdown-item-custom:hover {
            background-color: #e9ecef;
        }
</style>
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Rolewise Form Permission</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                    <li class="breadcrumb-item active">Rolewise Form Permission</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div id="createRoleModal" class="modal fade flip" tabindex="-1" role="dialog" aria-labelledby="createRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addUserRole">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="createRoleModalLabel">Create Role</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="hstack gap-3 align-items-start">
                        <div class="flex-grow-1">
                            <label for="textRoleName" class="form-label">Role</label>
                            <input type="text" value="@_userSession.UserId" id="txtUserId" hidden />
                            <input type="text" class="form-control" id="textRoleName" placeholder="Enter Role" name="textRoleName" />
                            <input type="text" class="form-control" id="textRoleId" name="textRoleId" hidden />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="validateAndCreateRole()">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="listjs-table" id="rolewiseList">
                    <div class="row g-4 mb-3">
                        <div class="row g-2">
                            <div class="col-lg-auto">
                                <div class="btn-group">
                                    <button id="dropdownButton" class="btn btn-primary btn-lg dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" style="width: 180px;">
                                        Select-Role
                                    </button>
                                    <div id="customDropdown" class="dropdown-menu p-2" style="display: none;">
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg d-flex justify-content-end ">
                                <form class="position-relative">
                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Form Permission" && (a.Add == true)))
                                    {

                                        <button type="button" class="btn btn-block btn-info btn-md" data-bs-toggle="modal" data-bs-target="#createRoleModal" onclick="clearTextRoleName()"><i class="ri-add-line align-bottom me-1"></i>New Role</button>
                                    }
                                </form>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline">
                                <thead class="table-light text-muted ">
                                    <tr class="table-info">
                                        <th>Form Name</th>
                                        <th>IsAddAllow</th>
                                        <th>IsViewAllow</th>
                                        <th>IsEditAllow</th>
                                        <th>isDeleteAllow</th>
                                    </tr>
                                </thead>
                                <tbody id="dveditRolePermissionForm">
                                </tbody>
                            </table>
                            <div class="text-end" id="updatebtn" style="display:none;">
                                <button type="button" class="btn btn-lg btn-primary" onclick="UpdateRolewiseFormPermission()" id="btnUserRolewiseForm" style="width: 160px;height: 50px;">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/moduls/FormPermissionScript.js" asp-append-version="true"></script>
