@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession;
@{
    ViewData["Title"] = "GetAllUsersAttendanceList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/css/loader.css" rel="stylesheet" asp-append-version="true" />
<style>
    #ddlusername-error, #txtdate-error {
        color: red;
    }
</style>

<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Get User Attendance</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                    <li class="breadcrumb-item active">Get User Attendance</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->



<div class="card">
    <div class="card-header">
        <form id="attendanceform" style="margin-bottom: -20px;">
            <div class="listjs-table">
                <div class="row g-4 mb-3">
                    <div class="row g-2 text-align">
                        <div class="col-lg-auto">
                            <a type="button" href="/UserProfile/GetAllUsersAttendanceList" class="btn btn-warning" id="backbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m5.828 7l2.536 2.535L6.95 10.95L2 6l4.95-4.95l1.414 1.415L5.828 5H13a8 8 0 1 1 0 16H4v-2h9a6 6 0 0 0 0-12z" /></svg> </a>

                            <div class="btn-group">
                                <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Search By
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" data-value="ByUsername">Username</a>
                                    <a class="dropdown-item" href="#" data-value="ByDate">Date</a>
                                    <a class="dropdown-item" href="#" data-value="ByDate&ByUsername">Username & Date</a>
                                    <a class="dropdown-item" href="#" data-value="ByBetweenDates&ByUsername">Username & Between-Dates</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm" id="usernamebox">
                            <div class="search-box">
                                <select class="form-control" id="ddlusername" name="ddlusername">
                                    <option selected disabled value="">---Select Username---</option>
                                </select>
                                <input type="hidden" class="form-control" id="txtguserid">
                            </div>
                        </div>
                        <div class="col-sm" id="datesbox">
                            <div class="search-box">
                                <input type="date" id="txtdate" name="txtdate" class="form-control search" placeholder="Search By date">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="margin-top: -60px;margin-left: 10px;">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-sm" id="startdatebox">
                            <div class="search-box">
                                <input type="date" id="txtstartdatebox" class="form-control search" placeholder="Search By start date">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <div class="col-sm" id="enddatebox">
                            <div class="search-box">
                                <input type="date" id="txtenddatebox" class="form-control search" placeholder="Search By end date">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <button class="btn btn-success" type="button" onclick="GetSearchAttendanceList()" id="searchattendanceform" value="Validate">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body" id="attendancedt">
        <div class="listjs-table">
            <div class="table-responsive">
                <div class="col-sm-12 col-md-6">
                    <div id="attendanceTableData_filter" class="dataTables_filter"></div>
                </div>
                <div class="modal fade" id="EditTimeModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="customername-field" class="form-label">AttandanceId</label>
                                    <input id="AttandanceId" class="form-control" disabled />
                                    <input id="UserId" class="form-control" hidden />
                                </div>

                                <div class="mb-3">
                                    <label for="customername-field" class="form-label">UserName</label>
                                    <input id="UserName" class="form-control" disabled />
                                </div>

                                <div class="mb-3">
                                    <label for="email-field" class="form-label">Date</label>
                                    <input id="Date" class="form-control" disabled />
                                </div>

                                <div class="mb-3">
                                    <label for="phone-field" class="form-label">Intime</label>
                                    <input id="Intime" class="form-control" disabled />
                                </div>

                                <div class="mb-3">
                                    <label for="date-field" class="form-label">OutTime</label>
                                    <input type="datetime-local" id="OutTime" class="form-control" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-danger btn-default m-1" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" onclick="updateUserAttendance();">Update Time</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="attendanceTableData" class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline">
                    <thead class="table-light text-muted text-center">
                        <tr class="text-uppercase">
                            <th>UserName</th>
                            <th>Date</th>
                            <th>InTime</th>
                            <th>OutTime</th>
                            <th>TotalHours</th>
                            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Users Attendance" && (a.Edit == true)))
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="text-center"> </tbody>
                </table>
                <div class="noresult" style="display: none">
                    <div class="text-center">
                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                        </lord-icon>
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">
                            We've searched more than 150+ invoices We did not find any
                            invoices for you search.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---End of DataTable-->
    <div class="card-body">
        <!--Partail View-->
        <div id="dvattendancelist"></div>
    </div>
    <h4 class="fs-22 fw-semibold ff-secondary mb-4">
        <span class="text-danger" id="errorMessage"></span>
    </h4>
</div>

<script type="text/javascript">
    var today = new Date();
    var month = today.getMonth() + 1;
    var year = today.getFullYear();

    if (month < 10) {
        month = '0' + month;
    }

    var maxDate = today.toISOString().split('T')[0];

    document.getElementById("txtstartdatebox").setAttribute("max", maxDate);
    document.getElementById("txtenddatebox").setAttribute("max", maxDate);
    document.getElementById("txtdate").setAttribute("max", maxDate);


    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("OutTime").setAttribute("max", today);
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userattendancescript.js" asp-append-version="true"></script>
<script src="~/moduls/taskscript.js" asp-append-version="true"></script>




