@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSessio

@{
    ViewData["Title"] = "MyAttendance";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@* <h1 class="text-info modal-title" >GetAttendance</h1> *@


<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Get Attendance</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Attendance</a></li>
                    <li class="breadcrumb-item active">Get Attendance</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <a class="btn" onclick="ExportToExcel()" style="margin-left: 1290px;background-color:#018749;color:white;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="currentColor" fill-rule="evenodd" d="M29 6v8h13v2H29v7h13V8c0-1.105-.836-2-1.867-2zm0 19h13v7H29zm0 9h13v6c0 1.105-.836 2-1.867 2H29zm-2 0v8H15.867C14.836 42 14 41.105 14 40v-6zm0-20H14V8c0-1.105.836-2 1.867-2H27zm-3.948 2v7H27v-7zm0 9v7H27v-7zM6 17a1 1 0 0 1 1-1h13.158a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm3.607 2h2.26l1.834 3.754L15.64 19h2.112l-2.91 5l2.976 5H15.59l-1.999-3.93l-1.99 3.93H9.34l3.024-5.018z" clip-rule="evenodd" /></svg><span>  </span>Export To Excel</a>
                <a class="btn" onclick="ExportToPDF()" style="background-color:#B31B1B;color:white;"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1536 1792"><path fill="currentColor" d="M1468 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V96q0-40 28-68T96 0h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22m384 1528V640H992q-40 0-68-28t-28-68V128H128v1536zm-514-593q33 26 84 56q59-7 117-7q147 0 177 49q16 22 2 52q0 1-1 2l-2 2v1q-6 38-71 38q-48 0-115-20t-130-53q-221 24-392 83q-153 262-242 262q-15 0-28-7l-24-12q-1-1-6-5q-10-10-6-36q9-40 56-91.5t132-96.5q14-9 23 6q2 2 2 4q52-85 107-197q68-136 104-262q-24-82-30.5-159.5T657 552q11-40 42-40h22q23 0 35 15q18 21 9 68q-2 6-4 8q1 3 1 8v30q-2 123-14 192q55 164 146 238m-576 411q52-24 137-158q-51 40-87.5 84t-49.5 74m398-920q-15 42-2 132q1-7 7-44q0-3 7-43q1-4 4-8q-1-1-1-2q-1-2-1-3q-1-22-13-36q0 1-1 2zm-124 661q135-54 284-81q-2-1-13-9.5t-16-13.5q-76-67-127-176q-27 86-83 197q-30 56-45 83m646-16q-24-24-140-24q76 28 124 28q14 0 18-1q0-1-2-3" /></svg><span>  </span> Export To Pdf</a>
                @*                <button type="button" class="btn btn-warning" onclick="exportToExcel()" style="margin-left:1433px;">Export Excel</button>*@
            </div><!-- end card header -->

            <div class="card-body">
                <div class="listjs-table" id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="row g-2">
                            <div class="col-lg-auto">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Search By
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" data-value="ByMonth">Month</a>
                                        <a class="dropdown-item" href="#" data-value="BetweenDates">Between Dates</a>
                                    </div>
                                </div>
                                <input type="hidden" id="SelectAttandance" name="SelectAttandance">
                            </div>
                            <div class="col-sm" id="monthbox">
                                <div class="search-box">
                                    <input type="month" id="txtmonth" class="form-control search" placeholder="Search By Month">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-sm" id="datebox">
                                <div class="search-box">
                                    <input type="date" id="txtstartdate" class="form-control search" placeholder="Search By start date">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-sm" id="datebox1">
                                <div class="search-box">
                                    <input type="date" id="txtenddate" class="form-control search" placeholder="Search By end date">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-auto">
                                <button class="btn btn-success" type="button" onclick="GetAttendance()" id="currentmonthattendance">
                                    Search
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="fixTableHead table-responsive table-card mt-3 mb-1">
                        <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline">
                            <thead class="table-info text-muted">
                                <tr class="text-center">
                                    <th>UserName</th>
                                    <th>Date</th>
                                    <th>Intime</th>
                                    <th>OutTime</th>
                                    <th>TotalHours</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="TableDataAttendanceList">
                            </tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ Orders We did not find any
                                    orders for you search.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
    var today = new Date();
    var month = today.getMonth() + 1;
    var year = today.getFullYear();

    if (month < 10) {
        month = '0' + month;
    }

    var maxMonth = year + '-' + month;

    var maxDate = today.toISOString().split('T')[0];

    document.getElementById("txtmonth").setAttribute("max", maxMonth);
    document.getElementById("txtstartdate").setAttribute("max", maxDate);
    document.getElementById("txtenddate").setAttribute("max", maxDate);
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userattendancescript.js" asp-append-version="true"></script>
<script src="~/moduls/taskscript.js" asp-append-version="true"></script>

