@model IEnumerable<EMPManegment.EntityModels.View_Model.EmpDetailsView>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "UserActiveDecative";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<style>
    #ddlDepartmenrnt-error, #ddlusername-error {
        color: red;
    }
</style>
<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Active Deactive</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                    <li class="breadcrumb-item active">ActiveDeactive</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<!-- Partial View-->
<div class="card-body">
    <div id="activedeactivepartial"></div>
</div>

<h4 class="fs-22 fw-semibold ff-secondary mb-4">
    <span class="text-danger" id="errorMessage"></span>
</h4>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userdetailsscript.js" asp-append-version="true"></script>


