@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>

@foreach (var item in Model)
{
    <tr>
        <td>1</td>
        <td>
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 me-3">
                    <div class="avatar-sm bg-light rounded p-1">
                        <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
                    </div>
                </div>
                <div class="flex-grow-1">
                    <h5 class="fs-14 mb-1">
                        @item.ProductName
                    </h5>
                </div>
            </div>
        </td>
        <td>@item.PerUnitPrice</td>
        <td>
            <a id="addItemButton" class="btn btn-warning" onclick="SearchInvoiceProductDetailsById('@item.Id')"><i class="ri-add-line align-bottom me-1"></i>Adds</a>
        </td>
    </tr>
}