@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "GetAllTransaction";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Transactions List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Payment Transactions</a></li>
                    <li class="breadcrumb-item active">GetAllTransction</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row" id="contactList">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">All Transactions</h5>
            </div>
            <div class="card-body p-0">
                <div class="card-body">
                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="col-sm-12">
                            <table id="transactionTable" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
                                <thead class="table-info text-muted">
                                    <tr>
                                        <th></th>
                                        <th>VendorName</th>
                                        <th>Date</th>
                                        <th>PaymentMethod</th>
                                        <th>PaymentType</th>
                                        <th>CreditDebitAmount</th>
                                        <th>PendingAmount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ transactions We did not find any
                                    transactions for you search.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->
<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>