@{
    ViewData["Title"] = "CreditDebitListView";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}
<style>
    .box-1, .box-2 {
        background-color: lightgrey;
        width: 350px;
        height: 250px;
        border: 5px solid gray;
        padding: 20px;
        float: left;
        margin-left: 20px;
    }

    .box-3 {
        background-color: lightgrey;
        width: 720px;
        height: 180px;
        border: 5px solid gray;
        padding: 20px;
        margin-top: 270px;
        margin-left: 20px;
    }

    .box-4 {
        background-color: lightgrey;
        width: 720px;
        height: 180px;
        border: 5px solid gray;
        padding: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #firstnameInput-error, #lastnameInput-error, #contactnumberInput-error.error,
    #phonenumberInput-error, #emailidInput-error, #ddlVendorType-error,
    #ddlCountry-error, #ddlState-error, #ddlCity-error.error,
    #AddressidInput-error, #pincodeidInput-error, #companynameInput-error,
    #CompanyType-error, #companyemailInput-error, #worknumberInput-error.error,
    #companylogoInput-error, #banknameInput-error, #branchInput-error, #accountnameInput-error,
    #accountnumberInput-error, #ifscInput-error.error,
    #GSTNumberInput-error {
        color: red;
    }

    label.failed {
        color: red;
    }
</style>
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">CreditDebitListView</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Transaction</a></li>
                    <li class="breadcrumb-item active">CreditDebitListView</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row g-2">
                    <div class="col-lg-6">
                        <h5 class="card-title mb-0">Vendor List</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="col-sm-12">
                        <table id="VendorTableData" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" aria-describedby="example_info">
                            <thead>
                                <tr>
                                    <th>CompanyName</th>
                                    <th>VendorName</th>
                                    <th>VendorEmail</th>
                                    <th>VendorMobileNo</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade bs-example-modal-lg" id="VendorDetailsModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-group">
                                        @*-----------------Company Details---------------*@
                                        <div class="box-1">
                                            <div>
                                                <h5 class="text-center" style="padding-bottom:10px; color: black;">Company Details</h5>
                                            </div>
                                            <div class="form-group control-label">
                                                <label style="color: teal;font-weight: 500;">Name:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 68px" id="VendorCompany"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">CompanyType:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 12px" id="VendorCompanyType"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">Email:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 70px" id="VendorCompanyEmail"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">ContactNumber:</label> &nbsp;
                                                <label style="color: black;font-weight: 500;" id="VendorCompanyNumber"></label> &nbsp;
                                            </div>
                                        </div>
                                        @*-----------------Vendor Details---------------*@
                                        <div class="box-2">
                                            <div>
                                                <h5 class="text-center" style="padding-bottom:10px; color: black;">Vendor Details</h5>
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">Name:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 31px" id="VendorFirstName"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">Email:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 34px;" id="VendorEmail"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">Phone:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 28px;" id="VendorPhone"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">ContectNo:</label> &nbsp;
                                                <label style="color: black;font-weight: 500;" id="VendorContectNo"></label> &nbsp;
                                            </div>
                                            <div class="form-group">
                                                <label style="color: teal;font-weight: 500;">Type:</label> &nbsp;
                                                <label style="color: black;font-weight: 500; margin-left: 40px" id="VendorType"></label> &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    @*-----------------Address Details---------------*@
                                    <div class="box-3">
                                        <div>
                                            <h5 class="text-center" style="color: black; padding-bottom:10px;">Address</h5>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: teal;font-weight: 500; margin-left:80px;">Country:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorCountry"></label> &nbsp;
                                            <label style="color: teal;font-weight: 500; margin-left:60px;">State:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorState"></label> &nbsp;
                                            <label style="color: teal;font-weight: 500; margin-left:60px;">City:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorCity"></label> &nbsp;
                                        </div>
                                        <div class="form-group">
                                            <label style="color: teal;font-weight: 500; margin-left:80px;">PinCode:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorPinCode"></label> &nbsp;
                                        </div>
                                        <div class="form-group">
                                            <label style="color: teal;font-weight: 500; margin-left:80px;">Address:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorAddress"></label> &nbsp;
                                        </div>
                                    </div>
                                    @*-----------------Bank Details---------------*@
                                    <div class="box-4">
                                        <div>
                                            <h5 class="text-center" style="padding-bottom:10px; color: black;">Bank Details</h5>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: teal;font-weight: 500; margin-left:30px;">BankName:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorBankName"></label> &nbsp;
                                            <label style="color: teal;font-weight: 500; margin-left:195px;">AccountNo:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorBankAccountNo"></label> &nbsp;
                                        </div>
                                        <div class="form-group">
                                            <label style="color: teal;font-weight: 500; margin-left:30px;">BankBranch:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorBankBranch"></label> &nbsp;
                                            <label style="color: teal;font-weight: 500; margin-left:185px;">Ifsc Code:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorBankIfsc"></label> &nbsp;
                                        </div>
                                        <div class="form-group">
                                            <label style="color: teal;font-weight: 500; margin-left:30px;">AccountHolderName:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorAccountHolderName"></label> &nbsp;
                                            <label style="color: teal;font-weight: 500; margin-left:80px;">Gstnumber:</label> &nbsp;
                                            <label style="color: black;font-weight: 500;" id="VendorGstnumber"></label> &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary m-3" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!-- Modal -->
                    <div class="modal fade zoomIn" id="addSeller" tabindex="-1" aria-labelledby="addSellerLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addSellerLabel">Add Vendor</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-content border-0 mt-3">
                                    <ul class="nav nav-tabs nav-tabs-custom nav-primary p-2 pb-0 bg-light" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#businessDetails" role="tab" aria-selected="true">
                                                Business Details
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <button class="nav-link" data-bs-toggle="tab" id="PersonalDetailsModel" href="#personalDetails" role="tab" aria-selected="false">
                                                Personal Details
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button class="nav-link" data-bs-toggle="tab" id="BankDetailsModel" href="#bankDetails" role="tab" aria-selected="false">
                                                Bank Details
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="businessDetails" role="tabpanel">
                                            <form id="VendorFormId">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companynameInput" class="form-label">Company Name</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="companynameInput" name="companynameInput" placeholder="Enter your company name">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="CompanyType" class="form-label">Company Type</label>
                                                            <select class="form-control" id="CompanyType" name="CompanyType">
                                                                <option value="">Select type</option>
                                                                @* <option value="All" selected>All</option>*@
                                                                <option value="Merchandising">Merchandising</option>
                                                                <option value="Manufacturing">Manufacturing</option>
                                                                <option value="Partnership">Partnership</option>
                                                                <option value="Corporation">Corporation</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="emailidInput" class="form-label">Email</label>
                                                            <input type="email" class="form-control" autocomplete="off" id="emailidInput" name="emailidInput" placeholder="Enter your email">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="ddlVendorType" class="form-label">VendorType</label>
                                                            <select id="ddlVendorType" name="ddlVendorType" class="form-control bg-transparent">
                                                                <option>--Select Type--</option>
                                                            </select>
                                                            <input type="hidden" id="VendorTypeInput" name="VendorTypeInput" value="" />
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="contactnumberInput" class="form-label">Contact Number</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="contactnumberInput" name="contactnumberInput" placeholder="Enter your number">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="phonenumberInput" class="form-label">Phone Number</label>
                                                            <input type="number" class="form-control" autocomplete="off" id="phonenumberInput" name="phonenumberInput" placeholder="Enter your number">
                                                        </div>
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="ddlCountry" class="form-label">Country</label>
                                                            <select id="ddlCountry" name="ddlCountry" class="form-control bg-transparent">
                                                                <option>--Select Country--</option>
                                                            </select>
                                                            <input type="hidden" id="txtcountry" name="txtcountry" value="" />
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="ddlState" class="form-label">State</label>
                                                            <select id="ddlState" name="ddlState" class="form-control bg-transparent">
                                                                <option>--Select State--</option>
                                                            </select>
                                                            <input type="hidden" id="txtstate" name="txtstate" value="" />
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="ddlCity" class="form-label">City</label>
                                                            <select id="ddlCity" name="ddlCity" class="form-control bg-transparent">
                                                                <option>--Select City--</option>
                                                            </select>
                                                            <input type="hidden" id="txtcity" name="txtcity" value="" />
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="AddressidInput" class="form-label">Address</label>
                                                            <textarea type="text" class="form-control" id="AddressidInput" name="AddressidInput" rows="3" placeholder="Enter your Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="pincodeidInput" class="form-label">PinCode</label>
                                                            <input type="number" class="form-control" autocomplete="off" id="pincodeidInput" name="pincodeidInput" placeholder="Enter your Pincode">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="companylogoInput" class="form-label">Logo</label>
                                                            <input type="file" class="form-control" autocomplete="off" id="companylogoInput" name="companylogoInput">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </form>
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button class="btn btn-link link-success text-decoration-none fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                                    <button type="button" class="btn btn-primary" id="nextPersonalDetails" onclick="nexttoPersonalDetails()" value="Validate"><i class="ri-speed-fill align-bottom me-1"></i> Next</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="personalDetails" role="tabpanel">
                                            <form id="VendorPersonalDetails" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="firstnameInput" class="form-label">First Name</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="firstnameInput" name="firstnameInput" placeholder="Enter your firstname">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="lastnameInput" class="form-label">Last Name</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="lastnameInput" name="lastnameInput" placeholder="Enter your lastname">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companyemailInput" class="form-label">Email</label>
                                                            <input type="email" class="form-control" id="companyemailInput" name="companyemailInput" placeholder="Enter your email" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="worknumberInput" class="form-label">Number</label>
                                                            <input type="number" class="form-control" autocomplete="off" id="worknumberInput" name="worknumberInput" placeholder="Enter your number">
                                                        </div>
                                                    </div>
                                                    <!--end col-->


                                                </div>
                                                <!--end row-->
                                            </form>
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button class="btn btn-link link-success text-decoration-none fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                                    <button type="button" class="btn btn-primary" id="nextbankDetails" onclick="nexttoBankDetails()" value="Validate"><i class="ri-speed-fill align-bottom me-1"></i> Next</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="bankDetails" role="tabpanel">
                                            <form id="VendorbankDetails">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="banknameInput" class="form-label">Bank Name</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="banknameInput" name="banknameInput" placeholder="Enter your bank name">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="branchInput" class="form-label">Branch</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="branchInput" name="branchInput" placeholder="Branch">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="accountnameInput" class="form-label">Account Holder Name</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="accountnameInput" name="accountnameInput" placeholder="Enter account holder name">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="accountnumberInput" class="form-label">Account Number</label>
                                                            <input type="number" class="form-control" autocomplete="off" id="accountnumberInput" name="accountnumberInput" placeholder="Enter account number">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="ifscInput" class="form-label">IFSC</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="ifscInput" name="ifscInput" placeholder="IFSC">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="GSTInput" class="form-label">GSTNumber</label>
                                                            <input type="text" class="form-control" autocomplete="off" id="GSTNumberInput" name="GSTNumberInput" placeholder="GST-Number">
                                                        </div>
                                                    </div>
                                                    <!--end col-->

                                                </div>
                                                <!--end row-->
                                            </form>
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button class="btn btn-link link-priamry text-decoration-none fw-medium" data-bs-dismiss="modal" id="CloseButton"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="AddVendorDetails()" id="SubmitVendorDetails" value="Validate"><i class="ri-save-3-line align-bottom me-1"></i> Save</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal-->
                </div>
            </div>
        </div>
    </div>
</div>







<!--end modal-->
<!-- End Page-content -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
<script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>