@model List<EMPManegment.EntityModels.ViewModels.Invoice.InvoiceViewModel>
@{
    ViewData["Title"] = "InvoiceListView";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Invoice List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Invoices</a></li>
                    <li class="breadcrumb-item active">List View</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="invoiceList">
            <div class="card-header border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">Invoices</h5>
                    <div class="flex-shrink-0">
                        <div class="d-flex gap-2 flex-wrap">
                            <button class="btn btn-primary" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                            <a asp-action="CreateInvoice" asp-controller="Invoice" class="btn btn-soft-primary"><i class="ri-add-line align-bottom me-1"></i> Create Invoice</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light-subtle border border-dashed border-start-0 border-end-0">
                <form>
                    <div class="row g-3">
                        <div class="col-xxl-5 col-sm-12">
                            <div class="search-box">
                                <input type="text" class="form-control search bg-light border-light" placeholder="Search for customer, email, country, status or something...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-sm-4">
                            <input type="text" class="form-control bg-light border-light" id="datepicker-range" placeholder="Select date">
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-sm-4">
                            <div class="input-light">
                                <select class="form-control" data-choices data-choices-search-false name="choices-single-default" id="idStatus">
                                    <option value="">Status</option>
                                    <option value="all" selected>All</option>
                                    <option value="Unpaid">Unpaid</option>
                                    <option value="Paid">Paid</option>
                                    <option value="Cancel">Cancel</option>
                                    <option value="Refund">Refund</option>
                                </select>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-xxl-1 col-sm-4">
                            <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
                            </button>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
            <div class="card-body">
                <div class="listjs-table">
                    <div class="table-responsive">
                        <table id="invoiceTable" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
                            <thead class="table-light text-muted text-center">
                                <tr>
                                    <th class="sort text-uppercase" data-sort="isnvoiceNo">InvoiceNo</th>
                                    <th class="sort text-uppercase" data-sort="isnvoiceNo">VendorName</th>
                                    <th class="sort text-uppercase" data-sort="isnvoiceNo">ProjectName</th>
                                    <th class="sort text-uppercase" data-sort="isnvoiceNo">OrderId</th>
                                    <th class="sort text-uppercase" data-sort="invoiceDate">TotalAmount</th>
                                    <th class="sort text-uppercase" data-sort="action">Action</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
        </div>

        <!--Update Invoice Modal -->
        <div class="modal fade" id="UpdateInvoiceModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light p-3">
                        <h5 class="modal-title" id="exampleModalLabel">Update Invoice</h5><h5 class="modal-title" id="txtinvoiceno" style="margin-left:10px;"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <form class="tablelist-form" autocomplete="off" id="UpdateInvoiceDetailsForm">
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="date-field" class="form-label">Invoice Date</label>
                                <input type="datetime-local" data-date-format="d M, Y" data-enable-time id="txtinvoicedate" name="txtinvoicedate" class="form-control" />
                                <input type="hidden" id="txtid" class="form-control" />
                            </div>

                            <div class="mb-3">
                                <label for="customername-field" class="form-label">Company Name</label>
                                <input type="text" id="txtcompanyname" name="txtcompanyname" class="form-control" placeholder="Enter Company name" />
                            </div>

                            <div class="row gy-4 mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="amount-field" class="form-label">Amount</label>
                                        <input type="text" id="txtamount" name="txtamount" class="form-control" placeholder="Total amount" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="payment-field" class="form-label">Payment Method</label>
                                        <select class="form-control" data-trigger name="txtpaymentmethod" id="txtpaymentmethod">
                                            <option selected disabled value="">---Select Payment Method---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row gy-4 mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="payment-field" class="form-label">Status</label>
                                        <select class="form-control" data-trigger name="txtstatus" id="txtstatus">
                                            <option selected disabled value="">Select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Confirm">Confirm</option>
                                            <option value="Complete">Complete</option>
                                            <option value="Cancel">Cancel</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="UpdateInvoiceDetails()" id="updatedetailbtn">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end modal -->
    </div>
</div>
    </div>
    <!--end col-->
</div> <!-- end row-->
<!--end row-->
<style>
    #txtinvoicedate-error, #txtcompanyname-error, #txtamount-error,
    #txtpaymentmethod-error, #txtstatus-error {
        color: red;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/invoicemasterscript.js"></script>
