@model List<EMPManegment.EntityModels.ViewModels.Invoice.InvoiceViewModel>
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "InvoiceListView";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Invoice List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Invoices</a></li>
                    <li class="breadcrumb-item active">InvoicesListView</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="invoiceList">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">Invoices</h5>
                    <input hidden id="txtInvoice" type="text" value="@UserSession.ProjectId" />
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Create Invoice" && (a.Add == true)))
                    {
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-2 flex-wrap">
                                <button class="btn btn-info" onclick="createInvoice()"><i class="ri-add-line align-bottom me-1"></i>Invoice</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card-body">
                <div class="listjs-table">
                    <div class="table-responsive">
                        <table id="invoiceTable" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
                            <thead class="btn-info text-center">
                                <tr class="text-center">
                                    <th>InvoiceNo</th>
                                    <th>VendorName</th>
                                    <th>ProjectName</th>
                                    <th>TotalAmount</th>
                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "InvoiceListView" && (a.Edit == true || a.Delete == true)))
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ transactions We did not find any
                                    transactions for you search.
                                </p>
                            </div>
                        </div>
                        <!-- end table -->
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
        </div>

        <!--Update Invoice Modal -->
        <div class="modal fade" id="UpdateInvoiceModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light p-3">
                        <h6 class="modal-title" id="exampleModalLabel">Update Invoice</h6><h7 class="modal-title" id="txtinvoiceno" style="margin-left:30px;"></h7>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <form class="tablelist-form" autocomplete="off" id="UpdateInvoiceDetailsForm">
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="date-field" class="form-label">Invoice Date</label>
                                <input type="datetime-local" data-date-format="d M, Y" data-enable-time id="txtinvoicedate" name="txtinvoicedate" class="form-control" />
                                <input type="hidden" id="txtid" class="form-control" />
                                <input type="hidden" id="txtUpdatedBy" value="@_userSession.UserId" />
                            </div>

                            <div class="mb-3">
                                <label for="customername-field" class="form-label">Company Name</label>
                                <input type="text" id="txtcompanyname" name="txtcompanyname" class="form-control" placeholder="Enter Company name" />
                            </div>

                            <div class="row gy-4 mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="amount-field" class="form-label">Amount</label>
                                        <input type="text" id="txtamount" name="txtamount" class="form-control" placeholder="Total amount" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="payment-field" class="form-label">Payment Method</label>
                                        <select class="form-control" data-trigger name="txtpaymentmethod" id="txtpaymentmethod">
                                            <option selected disabled value="">---Select Payment Method---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row gy-4 mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="payment-field" class="form-label">Status</label>
                                        <select class="form-control" data-trigger name="txtstatus" id="txtstatus">
                                            <option selected disabled value="">Select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Confirm">Confirm</option>
                                            <option value="Complete">Complete</option>
                                            <option value="Cancel">Cancel</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="UpdateInvoiceDetails()" id="updatedetailbtn">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end modal -->
    </div>
</div>

<!--end row-->

<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
<script src="~/moduls/purchaseorderdetailsscript.js" asp-append-version="true"></script>
