<style>
    img{
        width: 500px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="F/BonifatiusLive/EMPManegment.WebApplication/wwwroot/Content/Image/Company Logo.jpg" alt="Logo" />
                                    <h2 style="text-align:center;color:black;margin-top: -10px; margin-left: -30px;">{{title}} of {{UserName}}</h2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="background-color:azure;width:500px;" align="center">
                        <tbody>
                            <tr>
                                <td style="padding-left:20px;">
                                    <p style="text-align:justify;margin-top:0px;">
                                        Dear <b><i>{{FirstName}} {{LastName}}</i></b>, It seems you forget your Password for <b><em>Bonifatius Technology Pvt Ltd.</em></b>If this is true, Click below to Reset Your Password
                                    </p>
                                    <div>
                                        <a href="{{url}}" style="background-color:blue;color:white;padding:8px 15px;text-decoration:none;border-radius:10px;">Reset Password</a>
                                    </div>
                                    <p>
                                        <b>
                                            Thanks<br />
                                            Bonifatius Technologies Pvt. Ltd.<br />
                                            9454XXXXXX
                                        </b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
