@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>

@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="avatar-md bg-light rounded p-1">
                <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
            </div>
        </td>
        <td>
            <h5 class="fs-14">
                <a href="apps-ecommerce-product-details.html" class="text-body">@item.ProductName</a>
            </h5>
            <p class="text-muted mb-0">@item.PerUnitPrice</p>
        </td>
        <td class="text-end"><a id="addItemButton" class="" onclick="SearchProductDetailsById('@item.Id')" style=""><i class="fa-solid fa-plus"></i></a></td>
    </tr>


}
