@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>

@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="avatar-md bg-light rounded p-1">
                <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
            </div>
        </td>
        <td>
            <h5 class="fs-14">
                @item.ProductName
            </h5>
            <p class="text-muted mb-0">@item.PerUnitPrice</p>
        </td>
        <td class="text-end"><a id="addItemButton" class="btn btn-warning" onclick="SearchProductDetailsById('@item.Id')"><i class="ri-add-line align-bottom me-1"></i>Add</a></td>
    </tr>


}
