@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectView>
@using EMPManegment.Web.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<div class="team-list list-view-filter">
    @foreach (var item in Model)
    {
        <div class="card team-box">
            <div class="card-body px-4">
                <div class="row align-items-center team-row">
                    <div class="col team-settings">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="flex-shrink-0 me-2">
                                    <button type="button" class="btn fs-16 py-0 favourite-btn">
                                        <i class="ri-star-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col text-end dropdown">
                                <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ri-more-fill fs-17"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-fill text-muted me-2 align-bottom"></i>View</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-star-fill text-muted me-2 align-bottom"></i>Favourite</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-5-fill text-muted me-2 align-bottom"></i>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col">
                        <div class="team-profile-img">
                            <div class="avatar-lg img-thumbnail rounded-circle">
                            </div>
                            <div class="team-content">
                                <a href="#" class="d-block">
                                    <h5 class="fs-16 mb-1">@item.Fullname</h5>
                                </a>
                                @*  <p class="text-muted mb-0">@item.UserRole</p> *@
                                <p class="text-muted mb-0">@item.Designation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="row text-muted text-center">
                            <div class="col-6 border-end border-end-dashed">
                                <h5 class="mb-1">225</h5>
                                <p class="text-muted mb-0">Projects</p>
                            </div>
                            <div class="col-6">
                                <h5 class="mb-1">197</h5>
                                <p class="text-muted mb-0">Tasks</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end card-->
    }
</div>
<!---Start Pagination--->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ShowTeam", new { page = page }),
                                new X.PagedList.Web.Common.PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            })
<script src="~/lib/jquery/dist/jquery.min.js"></script>