@model List<EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectDocumentView>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="vstack gap-2">
            <div class="border rounded border-dashed p-2">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm">
                            <div class="avatar-title bg-light text-primary rounded fs-24">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="fs-13 mb-1"><a href="#" class="text-body text-truncate d-block">@item.DocumentName.Substring(37)</a></h5>
                        @* <div>2.2MB</div>*@
                        <div>@item.FullName</div>
                    </div>
                    <div class="flex-shrink-0 ms-2">
                        <div class="d-flex gap-1">
                            <button type="button" class="btn btn-icon text-muted btn-sm fs-18"><i class="ri-download-2-line"></i></button>
                            <div class="dropdown">
                                <button class="btn btn-icon text-muted btn-sm fs-18 dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ri-more-fill"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Rename</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}