@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Create Project</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                    <li class="breadcrumb-item active">Create Project</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-lg-8">
        <form id="formprojectdetails">
            <div class="card">
                <div class="card-body">

                    <div class="mb-3">
                        <label class="form-label" for="projectTitle">Project Title</label>
                        <input type="text" class="form-control" id="projectTitle" placeholder="Enter project title" name="projectTitle">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="project-thumbnail-img">Thumbnail Image</label>
                        <input class="form-control" id="projectImage" type="file" accept="image/png, image/gif, image/jpeg">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="projectDescription">Project Description</label>
                        <textarea class="form-control " id="projectDescription" rows="3" placeholder="Enter description" name="projectDescription"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3 mb-lg-0">
                                <label for="projectPriority" class="form-label">Priority</label>
                                <select class="form-control form-select valid" data-choices data-choices-search-false id="projectPriority" name="projectPriority">
                                    <option value="" selected disabled>---Select Project Priority---</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3 mb-lg-0">
                                <label for="projectStatus" class="form-label">Status</label>
                                <select class="form-control form-select valid" data-choices data-choices-search-false id="projectStatus" name="projectStatus">
                                    <option value="" selected disabled>---Select Project Status---</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <label for="projectdeadline" class="form-label">Deadline</label>
                                <input type="date" class="form-control material_blue" id="projectdeadline" name="projectdeadline" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-body">
                    <div class="col-12 mb-3">
                        <label class="form-label">BuildingName</label> <br />
                        <textarea type="text" class="form-control" rows="3" placeholder="BuildingName" id="txtBuildingName" name="txtBuildingName"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label class="form-label">Area</label>
                            <input type="text" class="form-control" placeholder="Area" id="txtProjectArea" name="txtProjectArea">
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Pincode</label>
                            <input type="number" class="form-control" placeholder="Pincode" id="txtProjectPincode" name="txtProjectPincode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label class="form-label">Country</label>
                            <select id="projectCountry" name="projectCountry" class="form-control form-select valid" onchange="fn_getProjectState('ProjectState',null,this)">
                                <option selected value="">--Select Country--</option>
                            </select>
                            <input type="hidden" id="txtprojectCountry" value="" />
                        </div>
                        <div class="col-4 mb-3">
                            <label class="form-label">State</label>
                            <select id="ProjectState" name="ProjectState" class="form-control form-select valid" onchange="fn_getProjectcitiesbystateId('ProjectCity', null, this)">
                                <option value="">--Select State--</option>
                            </select>
                            <input type="hidden" id="txtProjectState" value="" />
                        </div>
                        <div class="col-4 mb-3">
                            <label class="form-label">City</label>
                            <select id="ProjectCity" name="ProjectCity" class="form-control form-select valid">
                                <option value="">--Select City--</option>
                            </select>
                            <input type="hidden" id="txtProjectCity" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <div class="text-end mb-3">
                <button type="button" class="btn btn-success btn-lg" onclick="btnCreateProjectDetail()" id="projectDetails" value="Validate" style="width: 160px;height: 50px;">Create</button>
            </div>
        </form>
    </div>
    <!-- end col -->
    <div class="col-lg-4">
        <form id="frmprojectdetails">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Project Details</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="projectType" class="form-label">Project Name</label>
                        <input type="text" class="form-control material_blue" id="projectname" name="projectname" value="@ViewBag.ProjectName" readonly />
                    </div>
                    <div class="mb-3">
                        <label for="projectType" class="form-label">Project Type</label>
                        <input type="text" class="form-control material_blue" id="projectType" name="projectType" placeholder="Enter Project Type" />

                    </div>
                    <div class="mb-3">
                        <label for="projectStartDate" class="form-label">Project Start Date</label>
                        <input type="date" class="form-control material_blue" id="projectStartDate" name="projectStartDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="mb-3">
                        <label for="projectEndDate" class="form-label">Project End Date</label>
                        <input type="date" class="form-control material_blue" id="projectEndDate" name="projectEndDate">
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header align-items-center d-flex border-bottom-dashed">
                    <h5 class="card-title mb-0">Members</h5>
                    <button type="button" class="btn btn-block btn-warning" style="margin-left:200px;" data-bs-toggle="modal" data-bs-target="#ProjectHeadModal" onclick="ProjectHeadMemberList()"><i class="ri-share-line me-1 align-bottom"></i> Select Head</button>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="projectHead" class="form-label">Project Head</label>
                        <input type="text" class="form-control material_blue" id="projectHead" name="projectHead" placeholder="Enter Project Head" />
                    </div>
                    <div class="mb-3">
                        <label for="choices-lead-input" class="form-label">Team Lead</label>
                        <select class="form-control form-select valid" data-choices data-choices-search-false id="choices-lead-input">
                            <option value="Brent Gonzalez" selected>Brent Gonzalez</option>
                            <option value="Darline Williams">Darline Williams</option>
                            <option value="Sylvia Wright">Sylvia Wright</option>
                            <option value="Ellen Smith">Ellen Smith</option>
                            <option value="Jeffrey Salazar">Jeffrey Salazar</option>
                            <option value="Mark Williams">Mark Williams</option>
                        </select>
                    </div>

                    <div>
                        <label class="form-label">Team Members</label>
                        <div class="avatar-group">
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Add Members">
                                <div class="avatar-xs" data-bs-toggle="modal" data-bs-target="#inviteMembersModal">
                                    <div class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </form>
        <div class="modal fade" id="ProjectHeadModal" tabindex="-1" aria-labelledby="ProjectHeadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 ps-4 bg-primary-subtle">
                        <h5 class="modal-title" id="ProjectHeadModalLabel">Members</h5>
                        <button type="button" class="btn-close" id="closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="search-box mb-3">
                            <input type="text" class="form-control bg-light border-light" id="SearchBtn" placeholder="Search here...">
                            <i class="ri-search-line search-icon"></i>
                        </div>

                        <div class="mb-4 d-flex align-items-center">
                            <div class="me-2">
                                <h5 class="mb-0 fs-13">Add Members :</h5>
                            </div>
                        </div>
                        <div id="dvinvitemember"></div>
                    </div>
                </div>

                <!-- end modal-content -->
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- end modal -->
    </div>
    <!-- end col -->
</div>

<!-- ckeditor -->
<!-- dropzone js -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/projectdetailsscript.js" asp-append-version="true"></script>