@model List<EMPManegment.EntityModels.ViewModels.ExpenseMaster.ExpenseDetailsView>
@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "ExpenseList";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}
<style>
    #txtexpensetype-error, #txtDescription-error, #txtbillno-error,
    #txtdate-error, #txttotalamount-error, #txtimage-error,
    #txtaccount-error, #txtpaymenttype-error, #txtispaid-error, #txtisapproved-error {
        color: red;
    }

    #EditDescription-error, #Editbillno-error, #Edittotalamount-error {
        color: red;
    }

</style>
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Expense List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User Expenses</a></li>
                    <li class="breadcrumb-item active">Expenses</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- end page title -->
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h5 class="card-title mb-0">All-Expense History</h5>
                    </div>
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "All Expenses List" && (a.Add == true)))
                    {
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1 flex-wrap">
                                <button class="btn btn-primary" id="remove-actions"><i class="ri-delete-bin-2-line"></i></button>
                                <a class="btn btn-block btn-warning" onclick="DisplayAddExpenseModel()"><i class="ri-add-line align-bottom me-1"></i> Add Expense</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--Edit Expense Modal -->
            <div class="modal fade zoomIn" id="EditExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class=" modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content border-0">
                        <div class="modal-header bg-primary-subtle p-3">
                            <h5 class="modal-title" id="editModalLabel">Edit Expense Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="EditExpenseForm">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="txtexpensetype" class="form-label">Expense Type</label>
                                            <select class="form-control form-select valid" id="Editexpensetype" name="Editexpensetype">
                                                <option selected disabled value="">---Select Expense Type---</option>
                                            </select>
                                            <input type="hidden" class="text-muted text-uppercase fw-semibold" id="Editexpensetypeid" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <input type="text" id="EditDescription" name="EditDescription" class="form-control" />
                                            <input type="hidden" id="Editid" class="form-control" name="txtid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Bill Number</label>
                                            <input type="text" id="Editbillno" name="Editbillno" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Date</label>
                                            <input type="datetime-local" id="Editdate" name="Editdate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Total Amount</label>
                                            <input type="text" id="Edittotalamount" name="Edittotalamount" class="form-control" oninput="preventEmptyValue(this)" min="1" value="1" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Account</label>
                                            <select class="form-control form-select valid" id="Editaccount" name="Editaccount">
                                                <option selected disabled value="">Select Account Type</option>
                                                <option value="Credit">Credit</option>
                                                <option value="Debit">Debit</option>
                                            </select>
                                            <input type="hidden" id="Editaccountid" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="txtpaymenttype" class="form-label">Payment Type</label>
                                            <select class="form-control form-select valid" id="Editpaymenttype" name="Editpaymenttype">
                                                <option selected disabled value="">---Select Payment Type---</option>
                                            </select>
                                            <input type="hidden" class="text-muted text-uppercase fw-semibold" id="Editpaymenttypeid" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">IsPaid</label>
                                            <select class="form-control form-select valid" id="EditIsPaid" name="EditIsPaid">
                                                <option selected disabled value="">Select Paid Type</option>
                                                <option value="True">True</option>
                                                <option value="False">False</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">IsApproved</label>
                                            <select class="form-control form-select valid" id="EditIsApproved" name="EditIsApproved">
                                                <option selected disabled value="">Select Approved Type</option>
                                                <option value="True">True</option>
                                                <option value="False">False</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                            <button type="button" class="btn btn-success m-1" onclick="UpdateExpenseListDetails()" id="updatedetailbtn">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--end Edit Expense modal-->
            <!-- Modal -->
            <div class="modal fade zoomIn" id="AddExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class=" modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary-subtle p-3">
                            <h5 class="modal-title" id="exampleModalLabel">Add Expense Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formexpensedetails">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="txtexpensetype" class="form-label">Expense Type</label>
                                            <select class="form-control form-select valid" id="txtexpensetype" name="txtexpensetype">
                                                <option selected disabled value="">---Select Expense Type---</option>
                                            </select>
                                            <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtexpensetypeid">
                                            <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtaccount" value="Debit">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <input type="text" id="txtDescription" class="form-control" name="txtDescription" placeholder="Enter Description" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Bill Number</label>
                                            <input type="text" id="txtbillno" class="form-control" name="txtbillno" placeholder="Enter Bill Number" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Date</label>
                                            <input type="date" id="txtdate" class="form-control" name="txtdate" placeholder="Enter Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Total Amount</label>
                                            <input type="number" id="txttotalamount" class="form-control" name="txttotalamount" placeholder="Enter Amount" oninput="preventEmptyValue(this)" min="1" value="1" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Image</label>
                                            <input type="file" id="txtimage" class="form-control" name="txtimage" placeholder="Enter Image" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                            <button type="submit" class="btn btn-success" onclick="AddExpenseDetails();">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal-->

            <div class="card-body pt-0">
                <div>
                    <ul class="nav nav-tabs nav-tabs-custom nav-primary mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" href="#home1" role="tab" aria-selected="true">
                                <i class="ri-store-2-fill me-1 align-bottom"></i> All Expense
                            </a>
                        </li>
                    </ul>

                    <div class="table-responsive" id="allExpense">
                        <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" id="ExpenseTable">
                            <thead class="table-light text-muted text-center">
                                <tr>
                                    <th>User Name</th>
                                    <th>Description</th>
                                    <th>Bill No</th>
                                    <th>Date</th>
                                    <th>Total Amount</th>
                                    <th>Account</th>
                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "All Expenses List" && (a.Edit == true || a.Delete == true)))
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="list form-check-all text-center"></tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ invoices We did not find any
                                    invoices for you search.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" id="allExpenseUnApproved" style="display: none;">
                        <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" id="ExpenseTable">
                            <thead class="table-light text-muted text-center">
                                <tr>
                                    <th>User Name</th>
                                    <th>
                                        Description
                                    </th>
                                    <th>BillNo</th>
                                    <th>Date</th>
                                    <th>TotalAmount</th>
                                    <th>Account</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all text-center"></tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ invoices We did not find any
                                    invoices for you search.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" id="allExpenseApproved" style="display: none;">
                        <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" id="ExpenseTable">
                            <thead class="table-light text-muted text-center">
                                <tr>
                                    <th>User Name</th>
                                    <th>Description</th>
                                    <th>BillNo</th>
                                    <th>Date</th>
                                    <th>TotalAmount</th>
                                    <th>
                                        Account
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all text-center"></tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ invoices We did not find any
                                    invoices for you search.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end col-->
</div>
<!--end col-->
<!--end row-->


<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/expensemaster.js" asp-append-version="true"></script>