@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "GetPayExpense";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<input type="hidden" class="form-control" id="txtuseraproveid" value="@_userSession.UserId" hidden>
<input type="hidden" class="form-control" id="txtuseraprovename" value="@_userSession.FullName" hidden>
<input type="hidden" class="form-control" id="txtexpensetype" value="11" hidden>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Buy & Sell</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Crypto</a></li>
                    <li class="breadcrumb-item active">Buy & Sell</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<input type="hidden" id="txtuserid" value="@ViewBag.UserId" />
<!--New row-->
<div class="row">
    <div class="col-xxl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <lord-icon src="https://cdn.lordicon.com/fhtaantg.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                        </lord-icon>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <h3 class="mb-2">₹<span class="counter-value" data-target="74361">0</span><small class="text-muted fs-13">.34k</small></h3>
                <h6 class="text-muted mb-0">Send (Previous Month)</h6>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <lord-icon src="https://cdn.lordicon.com/qhviklyi.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px"></lord-icon>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <h3 class="mb-2" id="txttotalcreditamount"></h3>
                <h6 class="text-muted mb-0">Credited Amount</h6>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <lord-icon src="https://cdn.lordicon.com/yeallgsa.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                        </lord-icon>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <h3 class="mb-2" id="txttotaldebitedamount"></h3>
                <h6 class="text-muted mb-0">Pending Amount</h6>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="swiper default-swiper rounded">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card card-animate border-0 overflow-hidden">
                        <div class="card-body bg-primary-subtle">
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1">
                                    <lord-icon src="https://cdn.lordicon.com/vaeagfzc.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                                    </lord-icon>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:void(0);" class="fw-medium">Total Outstanding</a>
                                </div>
                            </div>
                            <h3 class="mb-2 text-success" id="txtTotalAmount"></h3>
                            <h6 class="text-muted mb-0">Total Amount</h6>
                        </div>
                    </div>
                    <!--end card-->
                </div>
                <div class="swiper-slide">
                    <div class="card card-animate border-0 overflow-hidden">
                        <div class="card-body bg-primary-subtle">
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1">
                                    <lord-icon src="https://cdn.lordicon.com/vaeagfzc.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                                    </lord-icon>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:void(0);" class="fw-medium">Ethereum (ETH)</a>
                                </div>
                            </div>
                            <h3 class="mb-2">₹24<small class="text-muted fs-13">.74k</small></h3>
                            <h6 class="text-muted mb-0">Send - Receive (Previous Month)</h6>
                        </div>
                    </div>
                    <!--end card-->
                </div>
                <div class="swiper-slide">
                    <div class="card card-animate border-0 overflow-hidden">
                        <div class="card-body bg-primary-subtle">
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1">
                                    <lord-icon src="https://cdn.lordicon.com/vaeagfzc.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                                    </lord-icon>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:void(0);" class="fw-medium">Monero (XMR)</a>
                                </div>
                            </div>
                            <h3 class="mb-2">₹124<small class="text-muted fs-13">.36k</small></h3>
                            <h6 class="text-muted mb-0">Send - Receive (Previous Month)</h6>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>
        <!--end swiper-->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-xxl-9">
        <div class="card card-height-100">
            <ul class="nav nav-tabs nav-tabs-custom nav-primary mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" href="#GetallExpense" role="tab" aria-selected="true">
                        <i class="ri-store-2-fill me-1 align-bottom"></i>All Expense
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 Delivered" data-bs-toggle="tab" id="Delivered" href="#GetallUnApprovedExpense" role="tab" aria-selected="false">
                        <i class="ri-checkbox-circle-line me-1 align-bottom"></i>Dabit Expense
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 Returns" data-bs-toggle="tab" id="Returns" href="#GetallApprovedExpense" role="tab" aria-selected="false">
                        <i class="ri-arrow-left-right-fill me-1 align-bottom"></i>Credit Expense
                    </a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="card-body tab-pane fade show active" id="GetallExpense" role="tabpanel">
                    <div class="listjs-table">
                        <div class="table-responsive">
                            <table id="UserallExpenseTable" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" style="width: 1150px;margin-left: 12px;">
                                <thead class="table-light text-muted">
                                    <tr>
                                        <th class="sort" data-sort="name">Id</th>
                                        <th class="sort" data-sort="company_name">ExpenseType</th>
                                        <th class="sort" data-sort="leads_score">PaymentType</th>
                                        <th class="sort" data-sort="phone">BillNumber</th>
                                        <th class="sort" data-sort="location">Description</th>
                                        <th class="sort" data-sort="date">Date</th>
                                        <th class="sort" data-sort="tags">TotalAmount</th>
                                        <th class="sort" data-sort="tags">Account</th>

                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body tab-pane fade" id="GetallUnApprovedExpense" role="tabpanel">
                    <div class="listjs-table">
                        <div class="table-responsive">
                            <table id="UserallUnApprovedExpenseTable" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" style=" width: 1150px;">
                                <thead class="table-light text-muted text-center">
                                    <tr>
                                        <th class="sort" data-sort="name">Id</th>
                                        <th class="sort" data-sort="company_name">ExpenseType</th>
                                        <th class="sort" data-sort="leads_score">PaymentType</th>
                                        <th class="sort" data-sort="phone">BillNumber</th>
                                        <th class="sort" data-sort="location">Description</th>
                                        <th class="sort" data-sort="date">Date</th>
                                        <th class="sort" data-sort="tags">TotalAmount</th>
                                        <th class="sort" data-sort="tags">Account</th>

                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                </div>

                <div class="card-body tab-pane fade" id="GetallApprovedExpense" role="tabpanel">
                    <div class="listjs-table">
                        <div class="table-responsive">
                            <table id="GetUserApprovedExpenseList" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" style=" width: 1150px;">
                                <thead class="table-light text-muted text-center">
                                    <tr>

                                        <th class="sort" data-sort="name">Id</th>
                                        <th class="sort" data-sort="company_name">ExpenseType</th>
                                        <th class="sort" data-sort="leads_score">PaymentType</th>
                                        <th class="sort" data-sort="phone">BillNumber</th>
                                        <th class="sort" data-sort="location">Description</th>
                                        <th class="sort" data-sort="date">Date</th>
                                        <th class="sort" data-sort="tags">TotalAmount</th>
                                        <th class="sort" data-sort="tags">Account</th>

                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                </div>

            </div><!-- end card -->
        </div>
    </div>
    <!--end col-->
    <div class="col-xxl-3">
        <div class="card card-height-100">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs nav-justified border-bottom-0 mx-n3" role="tablist">
                    <li class="nav-item ">
                        <h6 class="text-primary p-3 bg-primary-subtle">
                            Get PAY
                        </h6>
                    </li>
                </ul>
            </div>
            <div class="card-body p-0">
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="cryptoBuy" role="tabpanel">
                        <div class="p-3 bg-primary-subtle">
                            <div class="float-end ms-2">
                                <h6 class="text-primary mb-0" id="pendingamount"></h6>
                            </div>
                            <h6 class="mb-0">Pending Amount</h6>
                        </div>
                        <div class="p-3">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label>Payment Type</label>
                                        <select class="form-select" id="txtpaymenttype">
                                            <option selected disabled value=""></option>
                                        </select>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label>Account</label>
                                        <input type="text" class="form-control" id="txtAccount" value="Credit" readonly>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="txtcreditamount">Amount</label>
                                    <input type="text" class="form-control" id="txtcreditamount">
                                    <span id="warningMessage" style="color: red;"></span>
                                </div>

                                <div class="input-group mb-3">
                                    <label class="input-group-text">Pending Amount</label>
                                    <input type="text" class="form-control" id="txtpendingamount">
                                    <label class="input-group-text">₹</label>
                                </div>
                            </div>
                            <div class="mt-3 pt-2">
                                <button type="button" class="btn btn-primary w-100" id="creditdebitsubmitbtn" onclick="GetPayExpense()">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--end tab-pane-->
                    <!--end tab-pane-->
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->
<!--end card-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/expensemaster.js"></script>