@model List<EMPManegment.EntityModels.ViewModels.ExpenseMaster.ExpenseDetailsView>
@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "UserExpenseList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .nav-tabs-custom {
        display: flex;
        flex-wrap: nowrap;
    }

        .nav-tabs-custom .nav-item {
            margin-right: 15px;
            white-space: nowrap;
        }

    .form-check-label {
        margin-bottom: 0;
        color: #17a2b8;
    }

    .nav-tabs-custom .nav-item input.form-check-input {
        margin-right: 5px;
    }

    .date-input {
        display: none;
    }

    .ui-autocomplete {
        z-index: 1051;
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<input type="hidden" class="form-control" id="txtuserid" value="@_userSession.UserId" hidden>
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">My Expenses</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Expense</a></li>
                    <li class="breadcrumb-item active">My Expenses</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<!--New row-->
<div class="row">
    <div class="col-xxl-4 col-md-4">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Credited Amount</p>
                        <h2 class="mt-4 ff-secondary fw-semibold text-success" id="txttotalcreditamount"><span class="counter-value"></span></h2>
                        <p class="mb-0 text-muted">
                        </p>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-4 text-success">
                                <i class="mdi mdi-trending-up align-middle me-1"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
    <div class="col-xxl-4 col-md-4">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Pending Amount</p>
                        <h2 class="mt-4 ff-secondary fw-semibold text-danger" id="txttotaldebitedamount"><span class="counter-value"></span></h2>
                        <p class="mb-0 text-muted">
                        </p>
                    </div>
                    <div>
                        <div class="text-danger avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-4 text-danger">
                                <i class="mdi mdi-trending-down align-middle me-1"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-4 col-md-4">
        <div class="card card-animate">
            <div class="card-body bg-primary-subtle">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1">
                        <h6 class="text-muted mb-0">Total - Transactions (Send - Recived)</h6>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-4 text-success border">
                            <i class="ri-ticket-2-line"></i>
                        </span>
                    </div>
                </div>
                <h3 class="mb-2 text-success" id="txtTotalAmount"></h3>
            </div>
        </div>
        <!--end swiper-->
    </div>
    <!--end col-->
</div>

<!--end row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="invoiceList">

            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">My Expense-List</h5>
                    <div class="flex-shrink-0">
                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Expenses" && (a.Add == true)))
                        {
                            <div class="d-flex gap-2 flex-wrap">
                                <button class="btn btn-primary" id="remove-actions" style="margin-left:-34px;">
                                    <i class="ri-delete-bin-2-line"></i>
                                </button>
                                <a class="btn btn-block btn-info" onclick="DisplayAddExpenseModel()"><i class="ri-add-line align-bottom me-1"></i>Expense</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--Edit Expense Modal -->
            <div class="modal fade zoomIn" id="EditExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class=" modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content border-0">
                        <div class="modal-header bg-primary-subtle p-3">
                            <h5 class="modal-title" id="editModalLabel">Edit Expense Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="EditExpenseForm">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="txtexpensetype" class="form-label">Expense Type</label>
                                            <input type="text" class="form-control" id="Editexpensetype" name="Editexpensetype">
                                            <input type="hidden" id="EditexpensetypeHidden" name="EditexpensetypeHidden">
                                            <input type="hidden" class="text-muted text-uppercase fw-semibold" id="Editexpensetypeid" />
                                        </div>
                                        <label id="Editexpensetype-error" class="error" for="Editexpensetype"></label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <input type="text" id="EditDescription" name="EditDescription" class="form-control" />
                                            <input type="hidden" id="Editid" class="form-control" name="txtid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Bill Number</label>
                                            <input type="text" id="Editbillno" name="Editbillno" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Date</label>
                                            <input type="datetime-local" id="Editdate" name="Editdate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Total Amount</label>
                                            <input type="number" id="Edittotalamount" name="Edittotalamount" class="form-control" oninput="preventEmptyValue(this)" min="1" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Account</label>
                                            <input class="form-control" id="Editaccount" name="Editaccount" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="txtpaymenttype" class="form-label">Payment Type</label>
                                            <input class="form-control" id="txtExpensepaymenttype" name="txtExpensepaymenttype" readonly />
                                            <input type="hidden" class="form-control" id="EditExpensepaymenttypeid" name="EditExpensepaymenttypeid" readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">IsPaid</label>
                                            <input class="form-control" id="EditIsPaid" name="EditIsPaid" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">IsApproved</label>
                                            <input class="form-control" id="EditIsApproved" name="EditIsApproved" readonly />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                            <button type="button" class="btn btn-primary m-1" onclick="UpdateExpenseDetails()" id="updatedetailbtn">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--end Edit Expense modal-->

            <div class="card-body p-0">
                <div>
                    <div class="row g-3">
                        <div class="col-xxl-5 col-sm-12">
                            <ul class="nav nav-tabs nav-tabs-custom nav-primary mb-3 d-flex align-items-center flex-wrap" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" href="#GetMyAllExpenseList" role="tab">
                                        <i class="ri-arrow-left-right-fill me-1 align-bottom"></i>All Expense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-3 Returns" data-bs-toggle="tab" href="#GetAllUnApprovedExpenseList" role="tab">
                                        <i class="ri-close-circle-line me-1 align-bottom"></i>UnApproved Expense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-3 Returns" data-bs-toggle="tab" href="#GetAllApprovedExpenseList" role="tab">
                                        <i class="ri-checkbox-circle-line me-1 align-bottom"></i>Approved Expense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-3 Returns" data-bs-toggle="tab" href="#GetAllCreditExpenseList" role="tab">
                                        <i class="ri-bank-card-line me-1 align-bottom"></i>Credit Expense
                                    </a>
                                </li>
                                <li class="nav-item d-flex align-items-center ms-3">
                                    <input class="nav-radio form-check-input Returns" data-bs-toggle="tab" role="tab" type="radio" name="flexRadioDefault" id="lastMonthRadio" href="#GetUserLastMonthExpenseList">
                                    <label class="form-check-label ms-2" for="lastMonthRadio">
                                        Last Month
                                    </label>
                                </li>
                                <li class="nav-item d-flex align-items-center ms-3">
                                    <input class="nav-radio form-check-input Returns" data-bs-toggle="tab" role="tab" type="radio" name="flexRadioDefault" id="currentMonthRadio" href="#GetUserCurrentMonthExpenseList">
                                    <label class="form-check-label ms-2" for="currentMonthRadio">
                                        Current Month
                                    </label>
                                </li>
                                <li class="nav-item d-flex align-items-center ms-3">
                                    <input class="nav-radio form-check-input Returns" type="radio" data-bs-toggle="tab" role="tab" name="flexRadioDefault" id="betweenMonthRadio">
                                    <label class="form-check-label ms-2" for="betweenMonthRadio">
                                        Between Date
                                    </label>
                                </li>
                                <li class="nav-item align-items-center ms-3 date-input" style="display:none;">
                                    <input class="form-control" placeholder="dd-mm-yyyy" type="date" id="startDate">
                                </li>
                                <li class="nav-item align-items-center ms-3 date-input" style="display:none;">
                                    <input class="form-control" placeholder="dd-mm-yyyy" type="date" id="endDate">
                                </li>
                                <li class="nav-item d-flex align-items-center ms-3">
                                    <a class="btn btn-primary nav-btn" id="addproduct-btn" data-bs-toggle="tab" role="tab" href="#GetBetweendatesExpenseList" style="display:none;"><i class="ri-search-line"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel">

                        <div id="UserExpenseListPartial">
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade zoomIn" id="AddExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class=" modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-primary-subtle p-3">
                                <h5 class="modal-title" id="exampleModalLabel">Add Expense Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="userexpenseform">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <div class="d-flex justify-content-between align-items-center" style="margin-top:-10px;">
                                                    <label for="txtexpensetype" class="form-label">Expense Type</label>
                                                    <p class="text-muted">
                                                        <button type="button" onclick="DisplayExpenseTypeModal()" class="float-end text-decoration-underline btn btn-link waves-effect">
                                                            Add New-Expense Type
                                                        </button>
                                                    </p>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center" style="margin-top:-12px;">
                                                    <input type="text" class="form-control" id="txtexpensetype" name="txtexpensetype" placeholder="Enter Expense Type">
                                                    <input type="hidden" id="txtexpensetypeHidden" name="txtexpensetypeHidden">
                                                    <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtaccount" value="Debit">
                                                </div>
                                                <label id="txtexpensetype-error" class="error" for="txtexpensetype"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Description</label>
                                                <input type="text" id="txtDescription" class="form-control" name="txtDescription" placeholder="Enter Description" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Bill Number</label>
                                                <input type="text" id="txtbillno" class="form-control" name="txtbillno" placeholder="Enter Bill Number" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Date</label>
                                                <input type="date" id="txtdate" class="form-control" name="txtdate" placeholder="Enter Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Total Amount</label>
                                                <input type="number" id="txttotalamount" class="form-control" name="txttotalamount" placeholder="Enter Amount" oninput="preventEmptyValue(this)" min="1" value="1" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Image</label>
                                                <input type="file" id="txtimage" class="form-control" name="txtimage" placeholder="Enter Image" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                                <button type="submit" class="btn btn-success" onclick="AddMyExpenseDetails();">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal-->
            </div>
        </div>
    </div>
</div>
<!--end col-->
<form id="addExpenseType">
    <div id="ExpenseTypeModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Add Expense Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="hstack gap-3 align-items-start">
                        <div class="flex-grow-1">
                            <label>Expense Type</label>
                            <input class="form-control" id="textExpenseType" name="textExpenseType" placeholder="Enter Expense Type" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="AddExpenseType()">Save</button>
                </div>

            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';

    document.addEventListener('DOMContentLoaded', function () {
        const betweenMonthRadio = document.getElementById('betweenMonthRadio');
        const dateInputs = document.querySelectorAll('.date-input');
        const radios = document.querySelectorAll('input[name="flexRadioDefault"]');
        const searchButton = document.getElementById('addproduct-btn');

        function toggleDateInputs() {
            clearDates();
            if (betweenMonthRadio.checked) {
                dateInputs.forEach(input => input.style.display = 'flex');
                searchButton.style.display = 'block';
            } else {
                dateInputs.forEach(input => input.style.display = 'none');
                searchButton.style.display = 'none';
            }
        }

        radios.forEach(radio => {
            radio.addEventListener('change', toggleDateInputs);
        });

        toggleDateInputs();
    });


    function clearDates() {
        $("#startDate").val('');
        $("#endDate").val('');
    }

    document.getElementById('startDate').addEventListener('change', function () {
        var startDate = new Date(this.value);

        var endDate = new Date(startDate);
        endDate.setDate(startDate.getDate() + 30);

        var endDateInput = document.getElementById('endDate');
        endDateInput.min = this.value;
        endDateInput.max = endDate.toISOString().split('T')[0];

        endDateInput.style.display = 'block';
        endDateInput.disabled = false;


        endDateInput.placeholder = "dd-mm-yyyy";


        endDateInput.value = '';
    });


    function formatDateForDisplay(date) {
        var day = String(date.getDate()).padStart(2, '0');
        var month = String(date.getMonth() + 1).padStart(2, '0');
        var year = date.getFullYear();

        return day + '-' + month + '-' + year;
    }


    document.getElementById('startDate').addEventListener('change', function () {
        var endDateInput = document.getElementById('endDate');
        endDateInput.placeholder = "dd-mm-yyyy";
    });
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/expensemaster.js" asp-append-version="true"></script>

