@using EMPManegment.Web.Models;
@model EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="product card-body">
    <div class="row gy-3">
        <div class="col-sm-auto">
            <div class="avatar-lg bg-light rounded p-1">
                <img src="~/@Model.ProductImage" alt="" class="img-fluid d-block" style="width: 100px;height: 100px;">
            </div>
        </div>
        <div class="col-sm">
            <h5 class="fs-14 text-truncate"><a href="ecommerce-product-detail.html" class="text-body">@Model.ProductName</a></h5>

            <div class="input-step">
                <input type="number" class="product-quantity form-control" id="txtproductquantity" value="1" min="1" style="width:80px;">
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="text-lg-end">
                <p class="text-muted mb-1">Item Price:</p>
                <h5 class="fs-14" id="dspperunitprice">₹<span class="product-price">@Model.PerUnitPrice</span></h5>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row align-items-center gy-3">
            <div class="col-sm">
                <div class="d-flex flex-wrap my-n1">
                    <div>
                        <a href="#" class="d-block text-body p-1 px-2" data-bs-toggle="modal" data-bs-target="#removeItemModal"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Remove</a>
                    </div>
                    <div>
                        <a href="#" class="d-block text-body p-1 px-2"><i class="ri-star-fill text-muted align-bottom me-1"></i> Add Wishlist</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="d-flex align-items-center gap-2 text-muted">
                    <div>Total :</div>
                    <h5 class="fs-14 mb-0" id="dsptotalAmount">₹</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- end card footer -->
</div>
