@model IEnumerable<EMPManegment.EntityModels.ViewModels.Chat.ChatMessagesView>
@inject EMPManegment.Web.Helper.Common CommonHelper

@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@foreach (var item in Model)
{
    <a href="javascript:void(0);" onclick="GetConversation('@item.ConversationId')" class="d-flex align-items-center">
        <div class="flex-shrink-0 me-2 avatar-xxs chatlist-user-image">
            <img class="img-fluid rounded-circle" src="~/@item.UserImage" alt="">
        </div>

        <div class="flex-grow-1 chat-user-box overflow-hidden">
            <h5 class="fs-13 text-truncate mb-0 chatlist-user-name">@item.UserName</h5>
            <small class="text-muted text-truncate mb-0">@item.MessageText</small>
        </div>
    </a>
}