@{
    ViewData["Title"] = "ChatMessages";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .search-box {
        position: relative;
        display: inline-block;
    }

        .search-box input {
            padding-right: 30px;
            box-sizing: border-box;
        }


        .search-box .deleteicon {
            position: absolute;
            display: inline-flex;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
        }

            .search-box .deleteicon span {
                position: relative;
                display: block;
                width: 14px;
                height: 15px;
                border-radius: 50%;
                background-color: #ccc;
                color: red;
                font: 14px monospace;
                text-align: center;
                line-height: 1em;
                cursor: pointer;
            }
</style>

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Chat Messages</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Chat Messages</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
            <div class="chat-leftsidebar border">
                <div class="px-4 pt-4 mb-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h5 class="mb-4">Chats</h5>
                        </div>
                        <div class="flex-shrink-0">
                            <div data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Add Contact">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-soft-primary btn-sm">
                                    <i class="ri-add-line align-bottom"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control bg-light border-light" placeholder="Search here..." onkeyup="SearchChatUserName()" id="searchUserNameforchat">
                        <i class="ri-search-2-line search-icon"></i>
                        <div class="deleteicon" onclick="clearUsernameSearchInput()">
                            <span>x</span>
                        </div>
                    </div>
                </div> <!-- .p-4 -->

                <ul class="nav nav-tabs nav-tabs-custom nav-info nav-justified" role="tablist">
                    <li class="nav-item userlistnav-link">
                        <a class="nav-link active" data-bs-toggle="tab" href="#chats" role="tab">
                            Chats
                        </a>
                    </li>
                    <li class="nav-item userlistnav-link">
                        <a class="nav-link" data-bs-toggle="tab" href="#contacts" role="tab" onclick="DisplayUserListForChat()">
                            Contacts
                        </a>
                    </li>
                </ul>

                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="chats" role="tabpanel">


                        <div class="d-flex align-items-center px-4 mt-4 pt-2 mb-2" style="height:4px;">

                            <div class="flex-grow-1">
                                <h4 class="mb-0 fs-11 text-muted text-uppercase">Chat</h4>
                            </div>
                            <div class="flex-shrink-0">
                                <div data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Create group">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-soft-primary btn-sm">
                                        <i class="ri-add-line align-bottom"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="chat-message-list px-4 mt-4 pt-2 mb-2 border-top border-top-dashed align-items-center">
                            <div id="chatmebmer">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="contacts" role="tabpanel">
                        <div class="chat-room-list pt-3" data-simplebar>
                            <div class="sort-contact" id="showAllUserforChat" style="overflow-x: hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab contact -->
            </div>
            <!-- end chat leftsidebar -->
            <!-- Start User chat -->
            <div class="user-chat w-100 overflow-hidden border">

                <div class="chat-content d-lg-flex">
                    <!-- start chat conversation section -->
                    <div class="w-100 overflow-hidden position-relative">
                        <!-- conversation user -->
                        <div class="position-relative">
                            <div id="userconversation">
                            </div>

                            <div id="ChatConversationBtn" class="d-none">
                                <div class="chat-input-section p-3 p-lg-4">
                                    <form id="chatinput-form" enctype="multipart/form-data">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <div class="chat-input-links me-2">
                                                    <div class="links-list-item">
                                                        <button type="button" class="btn btn-link text-decoration-none emoji-btn" id="emoji-btn">
                                                            <i class="bx bx-smile align-middle"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="chat-input-feedback">
                                                    Please Enter a Message
                                                </div>
                                                <input type="text" class="form-control chat-input bg-light border-light fs-13" id="txtChatMessage" placeholder="Type your message..." autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <div class="chat-input-links ms-2">
                                                    <div class="links-list-item">
                                                        <button type="submit" class="btn btn-success chat-send waves-effect waves-light fs-13" id="sendmessage">
                                                            <i class="ri-send-plane-2-fill align-bottom"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end chat-wrapper -->

    </div>
    <!-- container-fluid -->
</div>

<div class="offcanvas offcanvas-end border-0 d-none" tabindex="-1" id="userProfileCanvasExample" aria-modal="true" role="dialog">
    <!--end offcanvas-header-->
    <div class="offcanvas-body profile-offcanvas p-0">
        <div id="contactinfo">
        </div>
    </div>
    <!--end offcanvas-body-->
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/chatmessagesscript.js"></script>