@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Dashboard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">User Home</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div style="margin-left:25px;">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <form id="frmdrpdashbord">
                            @if (_userSession.UserRoll == "Employee")
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary form-select" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 350px;">
                                        --Selected Project--
                                    </button>
                                    <div class="dropdown-menu" id="drpUserProjectListMenu">
                                        <a class="dropdown-item" href="#" data-value="">--Selected Project--</a>
                                    </div>
                                </div>
                                <select class="form-select-lg border-0" id="drpUserProjectList" style="display:none;">
                                    <option selected value="">--Selected Project--</option>
                                </select>

                            }
                            else
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary form-select" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 350px;">
                                        --All Projects--
                                    </button>
                                    <div class="dropdown-menu" id="drpUserProjectListMenu">
                                        <a class="dropdown-item" href="#" data-value="">--All Projects--</a>
                                    </div>
                                </div>

                                <select class="form-select-lg border-0" id="drpProjectName" style="display:none;">
                                    <option selected value="">--All Project--</option>
                                </select>

                            }
                        </form>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-1 flex-wrap">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <input type="text" value="@_userSession.UserId" id="txtuserid" hidden />
                <input type="text" class="form-control border dash-filter-picker" id="txttodayDate" value="@DateTime.Today.ToShortDateString()" hidden>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            In-Time
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your In-Time
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="todayintime"></span>
                        </h4>
                        <button type="button" class="btn btn-success btn-label" onclick="EnterInTime()"><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>Enter IN-TIME</button>

                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="las la-hourglass-start text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            Out-Time
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your Out-Time
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="todayouttime"></span>
                        </h4>
                        <a href="javascript:void(0);" class="btn btn-secondary btn-label" onclick="EnterOutTime()">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="ri-user-smile-line label-icon align-middle fs-16 me-2"></i>
                                </div>
                                <div class="flex-grow-1">
                                    Enter OUT-TIME
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="las la-hourglass-end text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            Total Hours
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your Total Hours
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="txttotalhours"></span>
                        </h4>
                        <a asp-action="MyAttendance" asp-controller="UserProfile" class="btn btn-warning btn-label">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="ri-calendar-2-line label-icon align-middle fs-16 me-2"></i>
                                </div>
                                <div class="flex-grow-1">
                                    View Summary
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="las la-clock text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            Total Task
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your Total Task
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="UserTotalTask"></span>
                        </h4>
                        <a asp-action="UserTasks" asp-controller="Task" class="btn btn-danger btn-label">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="bx bx-task label-icon align-middle fs-16 me-2"></i>
                                </div>
                                <div class="flex-grow-1">
                                    View TaskBoard
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="bx bx-body text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div> <!-- end row-->
<div class="tab-pane" id="project" role="tabpanel">
    <div class="card">
        <div class="card-body">
            <div id="projectListContainer">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        var Role = "@_userSession.UserRoll";

        if (Role == "Employee") {
            UserProjectList();
        }
        else {
            ProjectListDrp();
        }

        function UserProjectList() {
            $.ajax({
                url: '/Project/GetUserProjectLists',
                success: function (result) {
                    var $projectMenu = $("#drpUserProjectListMenu");
                    var $hiddenDropdown = $("#drpUserProjectList");
                    $projectMenu.empty();
                    $hiddenDropdown.empty();

                    $projectMenu.append('<a class="dropdown-item" href="#" data-value="">--Selected Project--</a>');
                    $hiddenDropdown.append('<option selected value="">--Selected Project--</option>');

                    $.each(result, function (i, data) {
                        $projectMenu.append('<a class="dropdown-item" href="#" data-value="' + data.projectId + '">' + data.projectTitle + ' (' + data.shortName + ')</a>');
                        $hiddenDropdown.append('<option value="' + data.projectId + '">' + data.projectTitle + ' (' + data.shortName + ')</option>');
                    });

                    var selectUserProjectId = sessionStorage.getItem('SelectedUserProjectId');
                    if (selectUserProjectId) {
                        $('#drpUserProjectList').val(selectUserProjectId).trigger('change');
                        $('.btn-group .btn').text($('#drpUserProjectList option:selected').text());
                    }

                    $('#drpUserProjectListMenu .dropdown-item').click(function () {
                        var selectedProjectId = $(this).data('value');
                        var ProjectText = $(this).text();

                        $('.btn-group .btn').text(ProjectText);
                        $('#drpUserProjectList').val(selectedProjectId).trigger('change');
                        sessionStorage.setItem('SelectedUserProjectId', selectedProjectId);
                    });
                }
            });
        }

        $('#drpUserProjectList').change(function () {
            var ProjectText = $(this).find('option:selected').text();
            var selectedProjectId = $(this).val();

            if (selectedProjectId == "") {
                ProjectText = " ";
            }

            $('#dashprojectName').html(ProjectText);
            fn_ChangeProject(selectedProjectId, ProjectText);
            sessionStorage.setItem('SelectedProjectId', selectedProjectId);
        });


        function ProjectListDrp() {
            $.ajax({
                url: '/Project/GetUserProjectLists',
                success: function (result) {
                    var $projectMenu = $("#drpUserProjectListMenu");
                    var $hiddenDropdown = $("#drpProjectName");
                    $projectMenu.empty();
                    $hiddenDropdown.empty();

                    $projectMenu.append('<a class="dropdown-item" href="#" data-value="">--All Projects--</a>');
                    $hiddenDropdown.append('<option selected value="">--All Projects--</option>');

                    $.each(result, function (i, data) {
                        $projectMenu.append('<a class="dropdown-item" href="#" data-value="' + data.projectId + '">' + data.projectTitle + ' (' + data.shortName + ')</a>');
                        $hiddenDropdown.append('<option value="' + data.projectId + '">' + data.projectTitle + ' (' + data.shortName + ')</option>');
                    });

                    var selectUserProjectId = sessionStorage.getItem('SelectedUserProjectId');
                    if (selectUserProjectId) {
                        $('#drpProjectName').val(selectUserProjectId).trigger('change');
                        $('.btn-group .btn').text($('#drpProjectName option:selected').text());
                    }

                    $('#drpUserProjectListMenu .dropdown-item').click(function () {
                        var selectedProjectId = $(this).data('value');
                        var ProjectText = $(this).text();

                        $('.btn-group .btn').text(ProjectText);
                        $('#drpProjectName').val(selectedProjectId).trigger('change');
                        sessionStorage.setItem('SelectedUserProjectId', selectedProjectId);
                    });
                }
            });
        }


        $('#drpProjectName').change(function () {
            var ProjectText = $(this).find('option:selected').text();
            var selectedProjectId = $(this).val();

            if (selectedProjectId == "") {
                ProjectText = " ";
            }

            $('#dashprojectName').html(ProjectText);
            fn_ChangeProject(selectedProjectId, ProjectText);
            sessionStorage.setItem('SelectedProjectId', selectedProjectId);
        });


        function fn_ChangeProject(selectedProjectId, ProjectText) {
            $.ajax({
                url: '/Home/ProjectList',
                type: 'GET',
                data: {
                    ProjectId: selectedProjectId,
                    ProjectName: ProjectText,
                },
                success: function (result) {

                },
            });

        }

    </script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userdetailsscript.js" asp-append-version="true"></script>
<script src="~/moduls/userprofile.js" asp-append-version="true"></script>
<script src="~/moduls/taskscript.js" asp-append-version="true"></script>

