@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            In-Time
                        </p>
                    </div>

                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your In-Time
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="todayintime"></span>
                        </h4>
                        <button type="button" class="btn btn-success btn-label" onclick="EnterInTime()"><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>Enter IN-TIME</button>

                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="las la-hourglass-start text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            Out-Time
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your Out-Time
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="todayouttime"></span>
                        </h4>
                        <a href="javascript:void(0);" class="btn btn-primary btn-label" onclick="EnterOutTime()">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="ri-user-smile-line label-icon align-middle fs-16 me-2"></i>
                                </div>
                                <div class="flex-grow-1">
                                    Enter OUT-TIME
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="las la-hourglass-end text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            Total Hours
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your Total Hours
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                            <span class="counter-value" id="txttotalhours"></span>
                        </h4>
                        <a asp-action="GetAttendance" asp-controller="UserProfile" class="btn btn-success custom-toggle">
                            View Summary
                        </a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="las la-clock text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                            Total Task
                        </p>
                    </div>

                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        Your Total Task
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                             <span class="counter-value" id="UserTotalTask">05</span>
                        </h4>
                        <a asp-action="UserTasks" asp-controller="Task" class="btn btn-warning custom-toggle active">
                           View TaskBoard
                        </a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                            <i class="bx bx-body text-primary"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div> <!-- end row-->
<script src="~/moduls/userdetailsscript.js"></script>
<script src="~/moduls/userprofile.js"></script>
<script src="~/moduls/taskscript.js" asp-append-version="true"></script>