@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    #dealType-error, #dealTitle-error, #ddlusername-error,
    #txtdatetime-error, #txtenddatetime-error, #contactDescription-error {
        color: red;
    }
</style>

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <!-- end page title -->

    <div class="card">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search for deals...">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-auto ms-auto">
                    <div class="d-flex hastck gap-2 flex-wrap">
                        <div class="d-flex align-items-center gap-2">
                            <span class="text-muted">Sort by: </span>
                            <select class="form-control mb-0" data-choices="" data-choices-search-false="" id="choices-single-default">
                                <option value="Owner">Owner</option>
                                <option value="Company">Company</option>
                                <option value="Date">Date</option>
                            </select>
                        </div>
                        <button data-bs-toggle="modal" data-bs-target="#adddeals" class="btn btn-primary">
                            <i class="ri-add-fill align-bottom me-1"></i> Add
                            Deals
                        </button>
                        <div class="dropdown">
                            <button class="btn btn-soft-secondary btn-icon fs-14" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-settings-4-line"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Copy</a></li>
                                <li><a class="dropdown-item" href="#">Move to pipline</a></li>
                                <li><a class="dropdown-item" href="#">Add to exceptions</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Switch to common form view</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Reset form view to default</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end card-->


    <div id="dvtskdetail">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="adddeals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">Create Deals</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="frmtaskdetails">
                        <div class="mb-3">
                            <label for="dealType" class="form-label">Task Type</label>
                        <select class="form-control" id="dealType" name="dealType">
                                <option selected disabled value="">--Select deals type--</option>
                            </select>
                            <input type="hidden" id="txtDealType" class="form-control" value="" />

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Task Title</label>
                        <input type="text" id="dealTitle" class="form-control" name="dealTitle" placeholder="Enter title"/>
                            <div class="invalid-feedback">
                                Please enter username
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="dealOwner" class="form-label">Task ProvideTo</label>
                        <select class="form-control" id="ddlusername" name="ddlusername">
                                <option selected disabled value="">--Select Username--</option>
                            </select>
                            <input type="hidden" class="form-control" id="txtguserid" required="" placeholder="Enter owner name">

                        </div>
                        <div class="mb-3">
                            <label for="dueDate" class="form-label">Task Start-Date</label>
                        <input type="datetime-local" class="form-control material_blue" id="txtdatetime" name="txtdatetime" />

                        </div>
                        <div class="mb-3">
                            <label for="dealEmail" class="form-label">Task End-Date</label>
                        <input type="datetime-local" class="form-control material_blue" id="txtenddatetime" name="txtenddatetime">

                        </div>
                        <div class="mb-3">
                            <label for="contactDescription" class="form-label">Task Description</label>
                        <textarea class="form-control " id="contactDescription" rows="3" placeholder="Enter description" name="contactDescription"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" onclick="btnSaveTaskDetail()" id="taskDetails" value="Validate">Save</button>
                </div>


            </div>
        </div>
    </div>
    <!--end modal-->
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/taskscript.js"></script>
